[2020-12-17 10:37] LeHerosInconnu opened #2417 "Adventure map, the hero should not retain his last orientation when recruited"
In fheroes2, the hero retains his last orientation when recruited.

In the original game, the hero is always facing east when he is recruited.

In original game:

![Recruit orientation H2 01](https://user-images.githubusercontent.com/43583994/102476968-0b8eaa00-405c-11eb-9a2b-5f99df57fe1f.png)

![Recruit orientation H2 02](https://user-images.githubusercontent.com/43583994/102476987-10535e00-405c-

[2020-12-17 11:01] LeHerosInconnu opened #2418 "Small adjustment needed for current fonctioning when the castle troops join the defending hero when there is room"
In fheroes2, the troops are not positioned correctly at the beginning of the combat.

Related to: https://github.com/ihhub/fheroes2/pull/2092.

Position of the troops before the combat:
![Troops position fh2 01](https://user-images.githubusercontent.com/43583994/102479360-172fa000-405f-11eb-9c4d-295f6f1800a3.png)

Incorrect position of the troops during the combat:
![Troops position fh2 02](https:

[2020-12-17 11:44] Branikolog opened #2419 "Hero morale indicator with undead army"
While leading full undead army hero has neutral morale indicator.
![image](https://user-images.githubusercontent.com/55348946/102482711-b3b06d00-4074-11eb-948f-5cf4e2aee5de.png)
I suggest always show morale Indicator, as if hero had at least 1 alive creature in his army. This would help to predict the morale of any creature joined.
Ex: On a screenshot hero has expert leadership, granting +3 morale

[2020-12-17 11:55] LeHerosInconnu commented on #2419
Hello @Branikolog,

No, it should not work that way.
The interface must remain coherent.
The morale indicator should indicate the current state of army morale.

If the player wants information about morale modifiers, he should consult the morale information window.

This has been made clear in this issue: https://github.com/ihhub/fheroes2/pull/2375. :)

[2020-12-17 11:56] Branikolog opened #2420 "Expand scrolling area with scroll wheel of Save/Load list"
Currently, we can scroll only if cursor is over list itself or over a scrollbar.
![image](https://user-images.githubusercontent.com/55348946/102484644-9c26b380-4077-11eb-9344-a2760ffb2803.png)
![image](https://user-images.githubusercontent.com/55348946/102484656-a2b52b00-4077-11eb-94d5-6864366d6d6c.png)
Over the other areas scrolling using mouse scroll wheel doesn't work. It would be nice if we ca

[2020-12-17 12:09] LeHerosInconnu commented on #2420
@Branikolog.

For information, I made a proposal related to these lists here (https://github.com/ihhub/fheroes2/issues/2118), and it won't be possible to have both except to separate the screen in two vertical zones (one zone for the list and another zone for the selected name). :)

[2020-12-17 12:24] Branikolog commented on #2419
Hi, @LeHerosInconnu!
I was thinking about this suggestion a plenty of time.
Let's discuss here! I hoped, you respond me and join the discussion in this new issue! :)
In the example above hero's morale is high, no matter what type of army he leads, undead or not. But current indicator being neutral always confuses me, and I always have to check twice, before accepting any new creature in my army.

[2020-12-17 12:32] Branikolog commented on #2420
@LeHerosInconnu
Oh, completely forgot about this thread!
Do you think, we should be able to use scroll wheel only above this three elements? I suggest game allow using wheel everywhere, as sometimes, while scrolling mouse moves away a bit and scrolling stops. What is your opinion?

[2020-12-17 12:39] LeHerosInconnu commented on #2419
@Branikolog.

Yes, but no. :)

The hero has secondary skill Leadership at the expert level, okay, but the morale indicator should indicate the current state of army morale.

This rule cannot be changed.
This would mislead the player into believing that his army has high morale when it does not.

And there is only one click to view the morale modifiers.
One very small click, is it already too much

[2020-12-17 12:57] Branikolog commented on #2419
For this click we have to enter hero info window, and then exit it. :) So, it is too much work for me. :P

Well, if hero has any living creature, morale indicator would turn to positive (considering this example), while undead creatures will continue having neutral morale. So here we have a mess. )

For this case we always have an reminder, that undeads are not affected by morale, and watching thi

[2020-12-17 12:58] LeHerosInconnu commented on #2420
@Branikolog.

The areas can be extended a little around the elements (or at the whole screen eventually, as I indicated):

![Extended area fh2 01](https://user-images.githubusercontent.com/43583994/102490752-8ca36c80-406f-11eb-97fe-9fa8a8049cf1.png)

![Extended area fh2 02](https://user-images.githubusercontent.com/43583994/102490762-8f9e5d00-406f-11eb-8910-5c087c0a2b62.png)

[2020-12-17 13:32] Branikolog commented on #2420
Ah, I haven't catch an idea of your issue from the first sight.
Your proposal at #2118 was about changing of the selected by a yellow color item, using a wheel, while pointing the area under the full list of files. This suggestion is not so comfortable, in my point of view, as while using a mouse wheel to scroll the full list it is so easy to choose a needed file appeared there. Remembering me scr

[2020-12-17 13:42] LeHerosInconnu commented on #2419
@Branikolog.

In your example, you are already in the hero screen. :)

For the adventure map, this change in army morale could be indicated in the information window when the player right-clicks on a wandering troop on the adventure map while the hero is selected.
This would avoid having to open (and close) the hero's screen.
See: https://github.com/ihhub/fheroes2/issues/1391.

Yes, but this is no

[2020-12-17 14:13] LeHerosInconnu commented on #2420
@Branikolog.

In this case, it would be wiser to extend the area to the whole screen for my proposal (https://github.com/ihhub/fheroes2/issues/2118); there would not even be a need to make a selection in the list, it would be automatic as it is already the case with up and down arrow keys on the keyboard. :)

[2020-12-17 15:33] #1494 closed

[2020-12-17 15:33] #1490 closed

[2020-12-17 15:33] #1493 closed

[2020-12-17 16:34] LeHerosInconnu opened #2423 "Adventure map, level of the music decreases when there are "effects" of sound played at the same time"
When the "MUSIC" folder is not present, or when the "MUSIC" folder is present and the "Music Type" is set to "MIDI" or "MIDI Expansion", the level of the music decreases when there are "effects" of sound played at the same time.

Here are the save file and a video that show the bug encountered:
[Bug music level near stone fh2 01.zip](https://github.com/ihhub/fheroes2/files/5710799/Bug.music.level.

[2020-12-18 08:10] Branikolog commented on #2423
Actually, a cannot hear the difference.)

[2020-12-18 08:21] LeHerosInconnu commented on #2423
Hello @Branikolog,

With which software did you test?

With VLC Media Player, the sound level seems to be correct.
It is easier to hear the level difference with OpenShot or Shotcut.

[2020-12-18 08:21] Branikolog commented on #2420
@LeHerosInconnu
So, update, please, your suggestion with this new type scrolling behaviour, And we'll debate there. :)
Regarding my issue, we should make the whole screen active for scrolling. Not only list itself and a small thin scroll bar to the right - but the whole screen.  That's the point.

[2020-12-18 08:37] LeHerosInconnu commented on #2420
@Branikolog.

I have updated my issue https://github.com/ihhub/fheroes2/issues/2118.

Have you tried using up and down arrow keys on the keyboard?
What I meant was that with my updated https://github.com/ihhub/fheroes2/issues/2118 proposal, your https://github.com/ihhub/fheroes2/issues/2420 proposal is no longer necessary. :)

[2020-12-18 08:53] Branikolog commented on #2419
That's the point: Morale indicator updates AFTER hero receives new creature into his army. He may be surprised, when he see -3 morale for it...
Let's imagine next scenario:
We have a Hero with undead army.
![image](https://user-images.githubusercontent.com/55348946/102593417-e8c8c800-4125-11eb-9400-1743eb3ef924.png)
Nearby is some creatures willing to join.
![image](https://user-images.githubuserc

[2020-12-18 09:25] Branikolog commented on #2423
@LeHerosInconnu
I've played your video in a common WP for Win8.1.
I can say even more, in game I can hear music OK.
I only noticed, that sounds sometimes too quiet, when there's any other sound playing in OS or I'm running a couple of games at the same time...

[2020-12-18 09:40] LeHerosInconnu commented on #2419
@Branikolog.

Yes, I see. :)

In addition to the information with the right click on a wandering troop (https://github.com/ihhub/fheroes2/issues/1391), information about the change in morale could also be added to the joining window.
![102593514-05650000-4126-11eb-833e-c1601397b37c](https://user-images.githubusercontent.com/43583994/102598834-e4e47800-411c-11eb-8040-4bb09f156ebf.png)

And a small

[2020-12-18 09:54] LeHerosInconnu commented on #2423
@Branikolog.

I can only suggest that you try it with Shotcut.
It's open source and portable (no installation).
https://shotcut.org/blog/portable-app/

[2020-12-18 10:02] Branikolog commented on #2420
While using up/down arrows we change the selected name (a name with yellow color) in a list, while using a scroll wheel we simply move entire list. If I understood correctly, you proposed to use the same for wheel scrolling. Am I right? You're talking about selecting file with a wheel, and I'm talking about wheel area.
But for me scrolling, as it works now is more comfortable. I simply want it to

[2020-12-18 10:11] LeHerosInconnu commented on #2420
@Branikolog.

Up and down arrow keys on the keyboard do both at the same time, they change the selected name **and** move entire list.

I suggest that the mouse wheel does the same on the whole screen (wherever the mouse cursor is positioned on the screen).

[2020-12-18 10:18] Branikolog commented on #2419
It could...We will discuss it, when our team reach that issue and start analyzing it.

Well, it looks quite good in hero info window. But for micro icon, while clicking over hero on a world map it will look ridiculously small (like current neutral luck indicator, which made me spend lots of time, before I unraveled, what it was on the other side of scales, opposite to rainbow ), so player never kn

[2020-12-18 10:27] Branikolog commented on #2423
We need someone more to confirm this issue. As I hear music ok in game..

[2020-12-18 10:32] LeHerosInconnu opened #2425 "Combat, Dwarves and Battle Dwarves must not resist the creatures' ability during combat"
In fheroes2, Dwarves and Battle Dwarves must not resist the creatures' ability during combat:
- "Curse" ability from Mummy and Royal Mummy
- "Paralyze" ability from Cyclops
- "Blind" ability from Unicorn
- "Stone" ability from Medusa

In the original game, this does not happen.

Dwarves and Battle Dwarves should resist only when a **spell** is cast by the hero, not at an **ability** of creature, e

[2020-12-18 10:40] Branikolog commented on #2420
Up and down keys are moving the selected name. And list stays still till the time the selected name moves out of a list. List changes to the state, where selected name is in top/bottom position. While scrolling with mouse moves entire list only on 1 name lower each click.

[2020-12-18 10:48] Branikolog commented on #2425
Hi, @LeHerosInconnu!
Are you sure, that in the OG the don't resist abelites? Could it be just an absence of displaying of this process in the OG in a journal?

[2020-12-18 10:56] LeHerosInconnu commented on #2419
@Branikolog.

Okay.

I haven't made any suggestions on the hero's information window yet (it's on hold), but it needs to be reworked. :)
I find the Morale and Luck icons too small (like the hero's info window by the way). :D

I think keeping the same size for the skull (I also think the skull icon in the hero screen should be a little bit bigger than its current size) than in the hero screen would

[2020-12-18 10:58] LeHerosInconnu commented on #2423
@Branikolog.

Okay.

[2020-12-18 11:01] LeHerosInconnu commented on #2420
@Branikolog.

Is this really a problem?

[2020-12-18 11:03] Branikolog commented on #2419
@LeHerosInconnu
Okay. Design for this new icon is debatable. At first, I want to hear all the team opinions regarding such morale indication.

[2020-12-18 11:04] LeHerosInconnu commented on #2425
@Branikolog.

No, because there is a sound that is played when the Dwarves resist a spell. :)

[2020-12-18 11:08] LeHerosInconnu commented on #2419
@Branikolog.

Okay.

[2020-12-18 11:12] Branikolog commented on #2420
@LeHerosInconnu.
No, it is not. :) It's just a different issues. Excuse me, if I understand something wrong... In your issue you're talking about the type of scrolling, where the selection of names proceeds with the mouse.
And I've create this issue, as I cannot scroll the list (No matter, how does that scrolling work) any place, I want. But only, while pointing a certain elements of UI, which is

[2020-12-18 11:13] Branikolog commented on #2425
Can the OG not play the sound as well, while resisting the spell? Like nothing happens in UI at all, but the % of resisting works, and the chance of applying the ability still was lowered by dwarves.

[2020-12-18 11:36] LeHerosInconnu opened #2426 "Adventure map, there is a shadow area (darker pixels) in the trees to the north of the treasure chest"
In fheroes2, there is a shadow area (darker pixels) in the trees to the north of the treasure chest.
These darker pixels do not disappear when the treasure chest has been picked up.

In fheroes2:

![Shadow tree chest fh2 cercle 01](https://user-images.githubusercontent.com/43583994/102610378-617f5280-412d-11eb-927a-0b567293739a.png)

![Shadow tree chest fh2 cercle 02](https://user-images.githubuse

[2020-12-18 11:49] LeHerosInconnu commented on #2425
@Branikolog.

Why would it be done this way?
By changing the operation for Dwarves who resist.
Also, the creature's abilities already work with a percentage of chance, it would be a double penalty.

I think the best would be to check the source code if it's possible.

[2020-12-18 12:03] LeHerosInconnu commented on #2420
@Branikolog.

Your issue will be resolved at the same time (the list will scroll as the selected file moves), and it will not be necessary to select the file name from the list by clicking on it with the mouse (although it will still be possible), it will be done automatically. :)

[2020-12-18 12:04] Branikolog commented on #2425
You know, the original game has lots of flaws.

Let's wait for a feedback of our team then. :)

[2020-12-18 12:30] Branikolog commented on #2420
I have a counter argument to your proposal. :)
When we enter save/load list, for example, we always watch the top name being selected. So, we need to make about 1 full wheel scroll to make the lowest name in visible part of become yellow, After that, our list start moving down. So we need two moves of our finger. Agreed, when the needed name lies not far from the current, it's quite comfortable to

[2020-12-18 13:02] Branikolog commented on #2426
Hello, @LeHerosInconnu.
Are You sure, that OG doesn't have same issue?
After deleting the chest there's still dark part in the forest.
It seems to me, there's another tree in the dark area in this circle.
I opened Editor and tried to make the same forest with myself. The original part is in green circle.
![Trees](https://user-images.githubusercontent.com/55348946/102617039-9ac5bb80-4149-11eb-819f-

[2020-12-18 13:30] Branikolog opened #2427 "Scrolling lists behaviour with arrow keys"
Currently, while reaching the edge of the list, we can see next page with all new names.
![image](https://user-images.githubusercontent.com/55348946/102618623-2e988700-414c-11eb-9262-3a5eea5763ae.png)
![image](https://user-images.githubusercontent.com/55348946/102618653-39ebb280-414c-11eb-9dbd-3a5e509da1d1.png)
When we come to the end, list shifts partially, as there's only a small part of names l

[2020-12-18 13:52] LeHerosInconnu commented on #2420
@Branikolog.

No, if the name is already visible in the list, just click on it to select it.

This will still be possible.

If it's the list that "jumps" the problem, it is to be done in such a way that the list does not jump, neither with the mouse wheel, nor with the up and down keys. :)

[2020-12-18 14:13] Branikolog commented on #2420
We have to decide whether list should jump or not. Currently, scrolling with mouse works smoothly, and with keyboard it jumps.
Anyway, I think two current issues should be separate, as we're talking about different problems.
This issue is about inability to use mouse scroll, and yours is about the logic of scrolling (jumping or smooth scrolling).

[2020-12-18 14:26] LeHerosInconnu commented on #2426
@Branikolog.

Effectively, it is also the same in the original game during the game.

You are right, it comes from the positioning of the objects in the editor.

[2020-12-18 14:31] Branikolog commented on #2388
Our kind team talked about solution for this suggestion: there can be added a caption, where the name of creature is written.
Should it be simply name of a troop or a phrase? Does anyone have any idea about text?

[2020-12-18 14:38] Branikolog commented on #2426
This issue relates only the mapmaker, who placed objects on a certain manner.
Surely, in future, map editor also would be modified to get rid of such textures, while objects being overlapped, but this is another story. ;)
So, can we close this issue for now?

[2020-12-18 14:41] LeHerosInconnu commented on #2420
@Branikolog.

I've always found these lists that "jump" a bit awkward.
For me, it would be preferable that the lists scroll smoothly in all cases, rather than jumping as it does now with the up and down keys.

Yes, you can create a new issue to make the lists scroll smoothly in all cases (with mouse wheel and with up and down keys).

[2020-12-18 14:45] LeHerosInconnu commented on #2426
@Branikolog.

Yes.
It's done. :)

[2020-12-18 14:45] #2426 closed

[2020-12-18 14:59] Branikolog commented on #2426
@LeHerosInconnu
Great work! We together managed to reduce our issue number by one. :)

[2020-12-18 15:09] LeHerosInconnu commented on #2388
@Branikolog.

I made a comment in this related issue: https://github.com/ihhub/fheroes2/issues/278#issuecomment-745623986.

So, my proposal is to add the creature name as a yellow title, and add the creature graphic below, and the rest of the current window content after it, then no need to change the current sentence. :)

Let's make the game shine. :D

[2020-12-18 15:12] Branikolog commented on #2420
I mean other thing: when we need to reach save file, which is out of visible list, we have to scroll the whole visible list first (as the first selected file is always on top) and only after we can reach needed file. It's in the case where mouse affects the selected yellow name.
Current scrolling allows us to shift a list at the moment, we touch a wheel. And then choose needed file by left click.

[2020-12-18 15:12] LeHerosInconnu commented on #2426
@Branikolog.

Yes, and without a single line of code. :D
If everything could be that simple. :)

[2020-12-18 15:18] Branikolog commented on #2388
@LeHerosInconnu
Oh, I've been looking for this proposal for two days.)
Missed it in dozens of PRs and new issues. :)
It's a nice improvement of UI, but on personal point, caption is enough.
Graphic can make this dialog too large. Anyway, let's hear, what the test of our team would tell. :)

[2020-12-18 15:21] Branikolog commented on #2426
I'm pretty sure, our main part of team does things in the same manner. They at just telling is, how hard was work, but actually they make it done in a few words typed with keyboard. ;)

[2020-12-18 15:40] LeHerosInconnu commented on #2420
@Branikolog.

@ihhub requested me to stop posting suggestions for now.
He wanted to get clear about the remaining issues; it was without counting on bugs. :D

So I have a lot of suggestions pending.
One of them is to make the scrollbar buttons allow for continuous scrolling of the lists (or that the buttons allow to increase/decrease the number of creatures continuously, for example in other windo

[2020-12-18 15:55] ihhub commented on #2420
My apologies for interrupting such a delightful conversation but @LeHerosInconnu is right about my request about improvements. We still have 500+ bugs so creating more items will make the work of developers endless.

Why don't we take such conversations to another place and once we come up with something good we can create an issue in GitHub. Every person could have his own opinion but we need to

[2020-12-18 16:02] Branikolog commented on #2420
@LeHerosInconnu
Oh, I see.
I don't have a horde of enhancements like you. So I've decided to make a couple not global.
Nevertheless, @ihhub has already made me a call down regarding working on enhancements, rather, than bugs. :D
Anyway, this issue is about polishing the current interface features.
Between, I like your idea of smooth continuous scrolling. ;)
I hope, in future our team will implemen

[2020-12-18 16:07] LeHerosInconnu commented on #2420
Hello @ihhub,

It's okay for me. :)

[2020-12-18 16:13] Branikolog commented on #2420
Agreed.

[2020-12-18 16:47] ihhub commented on #1474
Hi @Branikolog and @LeHerosInconnu this is a good topic for discussion :)

[2020-12-18 16:53] Branikolog commented on #1474
It's time to test new section for discussions! :D

[2020-12-18 16:56] LeHerosInconnu commented on #1474
@ihhub and @Branikolog.

I have to leave now.
Maybe later or tomorrow. :)

[2020-12-18 17:20] #1249 closed

[2020-12-18 17:24] ihhub commented on #1474
Good. We need a solution by tomorrow as it should be included into upcoming release.

[2020-12-18 17:28] Branikolog opened #2432 "Screen focuses on AI hero, while he is hidden under a fog"
I'm not sure, that AI hero standing in a fog close to the palm tree should initiate focus, while moving...
![image](https://user-images.githubusercontent.com/55348946/102642857-5c42f780-416f-11eb-84af-50709399933c.png)
Here's a savefile.
[01 test.zip](https://github.com/ihhub/fheroes2/files/5717137/01.test.zip)
Simply end turn. Screen focuses on a hero moving in a fog.

[2020-12-18 19:55] LeHerosInconnu commented on #1474
@ihhub.

Maybe this will do the job: https://github.com/ihhub/fheroes2/discussions/2433#discussioncomment-224172. :)

[2020-12-19 02:27] #1519 closed

[2020-12-19 09:25] LeHerosInconnu commented on #1699
Hi @ihhub,

I did some quick tests to check the operation.

For this issue, right here, https://github.com/ihhub/fheroes2/issues/1699, it seems to work fine.
For this issue, https://github.com/ihhub/fheroes2/issues/1697, it also seems to work fine.
For this issue, https://github.com/ihhub/fheroes2/issues/1698, there is a small problem:

The corpses of the creatures must be stacked in the order of

[2020-12-19 10:46] LeHerosInconnu commented on #2173
This problem is still present (fheroes2.exe 0.8.3 2430).

In fheroes2:

![Boat changed after hero embarks fh2 01](https://user-images.githubusercontent.com/43583994/102687485-aec3f880-41ef-11eb-84b1-98dbbee21166.png)

[2020-12-19 10:52] LeHerosInconnu opened #2434 "Adventure map, the second summoned boat is displayed under the first summoned boat"
In fheroes2, the second summoned boat is displayed under the first summoned boat.

In fheroes2:

![Boat under boat after second summon fh2 01](https://user-images.githubusercontent.com/43583994/102687618-999b9980-41f0-11eb-8e37-f9133e67f516.png)

[2020-12-19 11:08] LeHerosInconnu opened #2435 "Adventure map, the hero must be able to summon as many boats as there are free squares adjacent to the hero"
In the original game, the hero can summon as many boats as there are free squares adjacent to the hero.
In fheroes2, this is not the case, the previously summoned boat is always summoned afterwards.

In original game:

https://user-images.githubusercontent.com/43583994/102687808-1da25100-41f2-11eb-8a56-f887ec66aa28.mp4

In fheroes2:

https://user-images.githubusercontent.com/43583994/102687843-6ce

[2020-12-19 11:41] ihhub commented on #2172
Hi @LeHerosInconnu thank you for your testing! Could you please provide a map, not a save for these issues? I'll take a look at all of them.

[2020-12-19 12:45] LeHerosInconnu commented on #2172
Hello @ihhub,

Sure.

Here is the test scenario file:
[Summon boat test 0 9974a.zip](https://github.com/ihhub/fheroes2/files/5719253/Summon.boat.test.0.9974a.zip)

[2020-12-19 12:54] ihhub commented on #2172
Thank you very much!

[2020-12-19 15:15] #2172 closed

[2020-12-19 15:15] #2181 closed

[2020-12-19 16:28] #2174 closed

[2020-12-20 03:00] #856 closed

[2020-12-20 03:10] ihhub commented on #1237
Left offset from parent window is 21 pixels, right offset - 22 pixels. Closing this issue as we can't shift a window with subpixel accuracy.

[2020-12-20 03:10] #1237 closed

[2020-12-20 03:11] ihhub commented on #1237
This issue was fixed some time ago by another commit.

[2020-12-20 05:57] LeHerosInconnu opened #2441 "Adventure map, the boat and the shadow of the boat should be displayed at the same time"
In the original game, when a boat is summoned, the boat and the shadow of the boat are displayed at the same time with a progressive effect.
In fheroes2, the boat is displayed with a progressive effect, but the boat shadow is displayed abruptly and after the progressive effect of the boat.

In original game:

https://user-images.githubusercontent.com/43583994/102687808-1da25100-41f2-11eb-8a56-f887

[2020-12-20 05:57] LeHerosInconnu opened #2442 "Adventure map, the boat and the shadow of the boat should disappear at the same time and in a progressive way"
In the original game, when a boat is summoned, the boat and the shadow of the boat disappear at the same time with a progressive effect.
In fheroes2, the boat disappears abruptly from the adventure map.

In original game:

https://user-images.githubusercontent.com/43583994/102687808-1da25100-41f2-11eb-8a56-f887ec66aa28.mp4

In fheroes2:

https://user-images.githubusercontent.com/43583994/102706221

[2020-12-20 06:38] LeHerosInconnu opened #2443 "Adventure screen, position of the scrollbar cursor is not updated correctly for the list of heroes"
In fheroes2, the position of the scrollbar cursor is not updated correctly for the list of heroes.

In the example, at the end of the action, the scrollbar cursor should be at the very top of the scrollbar.

In fheroes2:

https://user-images.githubusercontent.com/43583994/102706861-dbcae680-4295-11eb-841d-516f8def168c.mp4

[2020-12-20 06:39] LeHerosInconnu opened #2444 "Kingdom Overview screen, Heroes Overview, position of the scrollbar cursor is not updated correctly while using it"
In fheroes2, the position of the scrollbar cursor is not updated correctly while using it.

In the example, at the end of the action, the scrollbar cursor should be at the very top of the scrollbar.

In fheroes2:

https://user-images.githubusercontent.com/43583994/102706889-28aebd00-4296-11eb-9c54-3b9d9b7a24a6.mp4

Similar issue: https://github.com/ihhub/fheroes2/issues/2443.

[2020-12-20 06:59] LeHerosInconnu opened #2445 "Adventure screen, make a left click not maintained on certain zones of the screen and move the mouse cursor over the minimap should not change the view of the minimap"
In fheroes2, make a left click not maintained on certain zones of the screen and move the mouse cursor over the minimap should not change the view of the minimap.

The view of the minimap should change only when the left click is performed in the minimap area.

This flaw is not present in the original game.

In fheroes2:

https://user-images.githubusercontent.com/43583994/102707188-1bdf9880-4299-1

[2020-12-20 07:27] LeHerosInconnu opened #2446 "Adventure screen, clickable area of the buttons for heroes in the hero list is shifted right and down from the button position with the hero's portrait and frame, same for castles"
In fheroes2, the clickable area of the buttons for heroes in the hero list is shifted right and down from the button position with the hero's portrait and frame, same for castles.

In fheroes2:

https://user-images.githubusercontent.com/43583994/102707616-e8067200-429c-11eb-8393-8fb61489c225.mp4

[2020-12-20 07:51] LeHerosInconnu opened #2447 "System Option windows, the black border of 1 pixel is missing at the top and to the left of the graphic inside the frame of the "Interface" "Show" button"
In fheroes2, the black border of 1 pixel is missing at the top and to the left of the graphic inside the frame of the "Interface" "Show" button.

In fheroes2:

![System Options fullscreen mode switch fh2 01](https://user-images.githubusercontent.com/43583994/102654700-4c2c1780-4171-11eb-8bcb-c18839960193.png)

[2020-12-20 09:17] LeHerosInconnu commented on #2409
The program crashed when changing the resolution from 640 x 480 to 1024 x 768 in windowed mode.

fheroes2_windows_x64_SDL2, version 0.8.3 2430

[2020-12-20 09:32] ihhub commented on #1484
Hi @LeHerosInconnu I made elements which a user can't modify with gray color. We should display all settings to get people to know what settings the current map has. If you don't have any objections about this approach.

[2020-12-20 09:43] LeHerosInconnu commented on #1484
Hello @ihhub,

It's okay for me.
Except that the gray color is maybe a little too close to the white color, especially for such a small text?
And how does that look with the Evil interface?

[2020-12-20 10:20] LeHerosInconnu opened #2450 "Interface setting in "Evil" or "Good" mode is not retained when the user goes to the Home screen and returns to the game"
In fheroes2, the interface setting in "Evil" mode or "Good" mode is not retained when the user goes to the Home screen and returns to the game.
In the example, when the user returns from the Home screen, the interface should be "Good".

In fheroes2:

https://user-images.githubusercontent.com/43583994/102710767-daf57d00-42b4-11eb-801d-31b317641d33.mp4

[2020-12-20 11:21] Branikolog commented on #2446
@LeHerosInconnu, Good catch!
I've done similar thread, regarding clickable area of wells...
I expect a lot of GUI elements have same problem. I think, we can find more stuff like this...

[2020-12-20 11:42] Branikolog commented on #2450
Hi, @LeHerosInconnu
Couldn't reproduce your issue in such way. I found out that the game always starts with good interface mode until you've set in CONFIG menu the "Evil" interface. And no matter, what kind of interface you've chosen in game System Options, It will always run according to setting in CONFIG menu.
Are you sure, you haven't set "Evil" in config in this example?

[2020-12-20 11:42] LeHerosInconnu commented on #2446
Hello @Branikolog,

Yes, thank you. :)

There are also many similar cases with the creatures' dwellings in the screens of the different castles, same for the moat, etc., etc., etc. etc.
There will be dozens and dozens of issues just for that.
The issue counter is not close to being at "zero issue". :-1:

I don't know if this is really the right way to deal with all these problems.
Have you seen th

[2020-12-20 12:34] Branikolog commented on #2409
Does that happen on application start, or after you've switched something in game?
I always switch resolution, but it never happened to me.

[2020-12-20 12:49] LeHerosInconnu commented on #2409
@Branikolog.

In both cases, by playing for some time and changing the resolution by going to the Home screen.

[2020-12-20 13:03] LeHerosInconnu commented on #2450
@Branikolog.

Not sure about that.
I'll do some tests later.

But in any case, if the user makes changes anywhere in the interface, they must be taken into account.

Also I think that the option "game: use evil interface" should be removed from the options in the "Experimental Game Settings" window.

[2020-12-20 13:19] Branikolog commented on #2450
@LeHerosInconnu.
For the case, when player makes changes and saves the game - changes in a savegame should be applied after loading. I'm agreed.
But what about the case in your video? You've started a new game. Should we save interface type? New Game always starts on "good" interface... Is it ok for the case, when player start new game, he start with some non-default options applied... New game =

[2020-12-20 14:21] LeHerosInconnu commented on #2450
@Branikolog.

Changes made by the player should always be saved, even the next time the program is started.
It works this way in the original game.

[2020-12-20 14:49] LeHerosInconnu commented on #2450
@Branikolog.

It's heavily broken. :-1:

In fheroes2:

https://user-images.githubusercontent.com/43583994/102716213-a694b780-42da-11eb-8f5c-8d30e82e9b7f.mp4

[2020-12-20 14:54] Branikolog commented on #2450
@LeHerosInconnu.
Yes, @ihhub already knows about this issue with CONFIG.
Cannot say, it's sooo "heavily". ))

[2020-12-21 08:52] LeHerosInconnu commented on #2059
First post updated with other flaws for Knight's Castle and Necromancer's Castle.

[2020-12-21 09:51] LeHerosInconnu commented on #2427
Hello @Branikolog,

You have not created an issue to make the lists scroll smoothly in all cases (with mouse wheel and with up and down keys), as we have discussed here: https://github.com/ihhub/fheroes2/issues/2420#issuecomment-748095409 - https://github.com/ihhub/fheroes2/issues/2420#issuecomment-748105407 - https://github.com/ihhub/fheroes2/issues/2420#issuecomment-748120154 - https://github.co

[2020-12-21 13:59] #1319 closed

[2020-12-21 14:23] #2390 closed

[2020-12-21 14:57] Branikolog commented on #2427
Hello, @LeHerosInconnu!
I'm sorry, I forgot about that discussion!
Definitely, you're right, all scrolling should be the same type.
Here, I couldn't stop myself, while watching incorrect operation, no matter if this operation should be changed. :)
In the OG, while using a keyboard, we can smoothly move the whole list for one name per each button pressing. So we need to make the same in fheroes2.

[2020-12-21 14:57] #2427 closed

[2020-12-21 15:02] Branikolog opened #2451 "Lists scrolling with keyboard"
Currently, all the lists like save/load list, or scenario name list can be scrolled by pressing up or down arrows on a keyboard. With the help of this button we change the selected name.
In the OG when we reach the edge of the list, each time we press the button list shifts for one name.
Currently in fheroes2 list completely updates, so the we watch the whole part with all new names.

[2020-12-21 21:40] J013k opened #2453 "Add Polish font"
Hello.

A dev who made fork for Vita [(fheroes2-vita)](https://github.com/Northfear/fheroes2-vita) directed me here...
To ask for help upstream devs.

Is there a way to add Polish font?
I mean letters like `Ą ą Ć ć Ę ę Ł ł Ń ń Ó ó Ś ś Ź ź Ż ż`.

I have missing signs or strange artifacts:
![https://i.postimg.cc/br8SPGZC/New-game.jpg](https://i.postimg.cc/br8SPGZC/New-game.jpg)
![https://i.postimg.c

[2020-12-22 00:48] ihhub commented on #2453
Hi @J013k currently we do not properly support any languages except English. This will be added after 0.9 release. The problem with font support is an absence of unicode fonts in the era of HoMM2 so the original game assets contain only one language (or a mix of two). However, we have a potential way to do this but sadly localization is not the main priority right now so please be little patient a

[2020-12-22 09:22] dimag0g opened #2455 "Mouse cursor doesn't move in mouse emulation mode"
Steps to reproduce:
- Build with SDL2 and define `WITHOUT_MOUSE`
- start mouse emulation using config file or by forcing `emulate_mouse = true`

Expected behavior:
- the cursor position moves with arrow keys
- the cursor tile (arrow) position is updated

Actual behavior:
- the cursor position moves with arrow keys
- on platforms with mouse support (I used Debian Buster) the cursor tile stays at th

[2020-12-22 09:59] Northfear commented on #2455
emulate_mouse may be broken since last release. And SDL2 code is using hardware cursor by default, so it's probably a better idea to use the fallback code for Switch.
You can use PS Vita port as a base for Switch BTW. It already has all of the input stuff in it.
https://github.com/Northfear/fheroes2-vita

[2020-12-22 10:04] ihhub commented on #2455
I think it's time to add some code for mobile platforms into main code base.
@dimag0g could you please create a fork of this project and add needed changes with making a pull request here? Then we can detect needed changes for both platforms.

[2020-12-22 10:12] dimag0g commented on #2455
@Northfear thanks, I'll look into your repo (I took some code from fheroes2enh for now, which may have borrowed it from you). However, I'd like to make platform-independent changes where possible, and mouse emulation is one of such things. I plan to fix the problem on Debian first, and perhaps submit a PR, then add more plaftorm-specific code specifically for Switch if necessary.

[2020-12-22 10:44] Branikolog commented on #2450
I've checked the OG. It works simply there: once you've changed GUI "Evilness", it will be evil everywhere. Each time you load, or start new game. That's true.
In my personal point, I'd prefer to save a type of GUI into a savefile, so if I play one scenario in evil form, it should be loaded with evil GUI. But when I load another scenario, for which I had chosen a "Good" GUI, the game should rememb

[2020-12-22 11:02] LeHerosInconnu commented on #2450
@Branikolog.

In fheroes2, the "Interface Dynamic" setting of the original game is missing: https://github.com/ihhub/fheroes2/issues/1329. :)

[2020-12-22 11:17] Branikolog commented on #2450
@LeHerosInconnu
Isn't the dynamic interface just chooses the default type for playing game, according to the race selected?

[2020-12-22 11:24] LeHerosInconnu commented on #2450
@Branikolog.

If you start a scenario with the dynamic interface, the game will select the interface accordingly.
If you change the interface during the scenario, the program will remember it the next time the game loads.

[2020-12-22 14:08] #1200 closed

[2020-12-22 14:08] #1773 closed

[2020-12-22 14:08] #1927 closed

[2020-12-22 15:10] #2358 closed

[2020-12-22 15:10] #2359 closed

[2020-12-22 15:10] #2360 closed

[2020-12-22 15:10] #2361 closed

[2020-12-23 00:42] vincent-grosbois commented on #2446
Hello
I'll take that one if it's ok, I've seen where it is in the code that needs fixing

[2020-12-23 00:46] vincent-grosbois commented on #2445
Same thing happens also for the heroes / castle list

[2020-12-23 06:54] grasshopper-newt commented on #2191
I am unable to replicate this issue. The surrender button always seems to be accessible during siege. Can you confirm this bug still exists?

[2020-12-23 06:54] #2451 closed

[2020-12-23 08:37] LeHerosInconnu commented on #2191
Hello @grasshopper-newt,

The surrender button is accessible, but the intermediate window showing the amount of gold to be paid is not displayed when the player does not have enough gold to pay the requested amount of gold.

In original game:

![Retreat siege H2 02](https://user-images.githubusercontent.com/43583994/98466032-3e2bc400-21cd-11eb-8a41-bf46e0ba82ea.png)

In fheroes2:

![Surrender sieg

[2020-12-23 08:46] grasshopper-newt commented on #2191
Ah yes, thanks for the clarification. I will try tackling this bug.

[2020-12-23 08:52] LeHerosInconnu opened #2460 "Combat screen, "Castle" button appears briefly when the player has enough gold to surrender during a combat"
In fheroes2, the "Castle" button appears briefly when the player has enough gold to surrender during a combat.
This should not happen.

The "Castle" button should be displayed in case the player does not have enough gold to pay the requested amount of gold.

The "Castle" button allows to display the Marketplace window so that the player can exchange his resources for gold.

In fheroes2:

![vlcsnap

[2020-12-23 08:56] LeHerosInconnu commented on #2191
@grasshopper-newt.

There is also another issue related to this window https://github.com/ihhub/fheroes2/issues/2460.

[2020-12-23 09:41] LeHerosInconnu opened #2461 "Combat screen, Surrender window, "ACCEPT" button has a graphic defect around it when it has been pressed"
In fheroes2, the "ACCEPT" button has a graphic defect around it when it has been pressed.

In fheroes2:

![vlcsnap-2020-12-23-09h02m51s306](https://user-images.githubusercontent.com/43583994/102978013-1fc32300-4504-11eb-9f42-d124f07b9e24.png)

https://user-images.githubusercontent.com/43583994/102978027-25206d80-4504-11eb-8848-8aafb8808363.mp4

[2020-12-23 09:42] LeHerosInconnu opened #2462 "Combat screen, Surrender window, "Castle" button has a graphic defect around it"
In fheroes2, the "Castle" button has a graphic defect around it.

The "Castle" button should be displayed in case the player does not have enough gold to pay the requested amount of gold.

The "Castle" button allows to display the Marketplace window so that the player can exchange his resources for gold.

In fheroes2:

![vlcsnap-2020-12-23-09h02m51s306](https://user-images.githubusercontent.com/43

[2020-12-23 10:19] LeHerosInconnu opened #2464 "Combat screen, name of the creature must not be plural in the info bar at the bottom of the screen when there is only one creature that has perished"
In fheroes2, the name of the creature must not be plural in the info bar at the bottom of the screen when there is only one creature that has perished.

In the example:

"...1 Sprite perishes."

Instead of:

"...1 Sprites perishes."

In fheroes2:

![vlcsnap-2020-12-23-09h02m51s306](https://user-images.githubusercontent.com/43583994/102978013-1fc32300-4504-11eb-9f42-d124f07b9e24.png)

[2020-12-23 11:13] LeHerosInconnu opened #2465 "Hero screen, Transcribe Spell Scroll window, change to description text"
With the option "heroes: allow transcribing scrolls (needs: Eye Eagle skill)" enabled.

- In the description text, change the sentence "Cost in spell point:" to "Cost in spell points:" with an "s" to "points".

In fheroes2:

![Transcribe text fh2 01](https://user-images.githubusercontent.com/43583994/102990619-f90ee780-4517-11eb-8236-e13c1874bdc1.png)

Already reported in this closed issue: https:

[2020-12-23 11:46] Branikolog commented on #2366
I've experienced a problem, regarding this issue.
In a month of minotaur some of minotaurs appeared close to some of my heroes and couple of battles occurred with the beginning of a day.

[2020-12-23 12:09] LeHerosInconnu opened #2466 "Adjustment for option "heroes: allow transcribing scrolls (needs: Eye Eagle skill)""
Option "heroes: allow transcribing scrolls (needs: Eye Eagle skill)".

This option has the effect of permanently inscribing the temporary spell of a spell scroll in the hero's magic book.
The spell scroll is consumed during transcription.
The transcription of the spell in the magic book also has a cost in spell points corresponding to the cost of casting the spell.

The hero must have a certain le

[2020-12-23 12:32] LeHerosInconnu commented on #2366
@Branikolog.

In the original game, this does not happen because for the duration of the first day of the week, heroes can even move into the adjacent squares of the generated creatures without triggering a combat.

But I find this operation of the original game a bit annoying because it doesn't respect the rules concerning wandering creatures.

In fheroes2, the heroes cannot move to one of the ad

[2020-12-23 12:57] dimag0g commented on #2455
@ihhub, I managed to get the cursor working by essentially falling back to SDL1 cursor handling code if WITHOUT_MOUSE is defined. The modification is literally two lines,

    #if SDL_VERSION_ATLEAST( 2, 0, 0 ) && !defined(WITHOUT_MOUSE)

one in `screen.cpp:117` and one in `cursor.cpp:29`. Let me know if you want a PR for this trivial fix, as well as for the other one: https://github.com/ihhub/fhe

[2020-12-23 13:18] Branikolog commented on #2366
@LeHerosInconnu
And not only hero!
![image](https://user-images.githubusercontent.com/55348946/102999633-721f3680-453a-11eb-8b37-99ca1a2c1b62.png)
:D

[2020-12-23 16:44] ihhub commented on #2455
Hi @dimag0g does it mean that you still use SDL 2 compilation? If yes you could create a PR and we check it. I think it's a valid change.

Please go ahead and make the fix for #2380 as well if it's a trivial one.

Also you could create a new issue for extra support then we can combine Vita and Switch code and put it into main code base.

[2020-12-23 17:17] Northfear commented on #2455
I can make a separate PR with gamepad support tomorrow. It's platform independend. Probably just needs a little testing with new fullscreen support.

Touchpad needs a bit more work tho to make it functional everywhere.

[2020-12-23 17:30] vincent-grosbois commented on #2434
What's the issue here?

[2020-12-23 18:00] LeHerosInconnu commented on #2434
@vincent-grosbois.

The sail of the most southern boat is under the hull of the most northern boat. :D

[2020-12-23 21:58] vincent-grosbois commented on #2385
Is the time taken in this method really due to time complexity of VecCastles::Get() though?

For the radar we call in a loop all map positions so VecCastles::Get is called already a lot of times (ie for each tile where a castle sprite appears)

The check is then in O(n) but should be in itself quite fast imo, seeing that we have a most 75 castles

If we put instead a Map or Hashmap, we have to put

[2020-12-24 11:20] Branikolog opened #2470 "Bug showing path, while other hero interferes"
On a screenshot we can see only a cross of a path of an upper hero, that was interfered by other hero standing in a bottom area between object and neutral creature.
![image](https://user-images.githubusercontent.com/55348946/103085552-15cc1d80-45f3-11eb-85cc-602e6a4666f0.png)

[2020-12-24 13:44] #719 closed

[2020-12-24 13:46] #2380 closed

[2020-12-24 16:40] TIle7 opened #2475 "AI?"
Hi guys.
What you are doing is unbeliveable.
One of the things I do daily is checking if you released a new version.
However, last version, anything seriously done with the AI?
Ai is original game was awful, but here... unplayable. Everything is unbeliveably easy.
I'm still finding AI castles full of armies and AI heroes with almost no armies at all.
There is zero chalenge, no matter what the difi

[2020-12-24 17:22] vincent-grosbois commented on #2385
Here's one way to fix it : https://github.com/ihhub/fheroes2/pull/2476

[2020-12-25 06:08] ihhub commented on #2453
Hi @J013k , I think we can make a small hack to make Polish language work. Since the above letters are very similar to the original English alphabet we can use certain English characters instead of special ones in Polish. Of course it's not an ideal solution but it'd be better than missing characters after all.

[2020-12-25 06:10] ihhub commented on #2453
@J013k also since you own a Polish version of the game could you please investigate one thing related to Polish language support in the original game? It's needed to add few lines of the code and compile on your machine and then tell use the result.
We can't ask you to share game resources and it's illegal :)

[2020-12-25 08:34] efureev commented on #1911
Yes, so works.

I've download v0.8.4 and tried this issue - the issue is stay )
When you choose a resolution from list greater then yours - all modal window are hidden. For example: after choosing resolution, click on button "new game". You'll see nothing. 'Esc' is the only solution.

[2020-12-25 08:36] ihhub commented on #1911
Hi @efureev could you please attach a screenshot of your game with when you notice this?

[2020-12-25 10:57] J013k commented on #2453
@ihhub do you have any public e-mail?
Or account at any of these forums PSX-Place, obscuregamers?

[2020-12-25 12:01] winterheart opened #2480 "Using cmake as build system?"
Hello.

I've noticed that fheroes2 uses bare Makefiles as buildsystem. While this approach has advantages as simple and fast solution, it has may become more and more complex solution, which can be difficult to maintain and extend.

I can offer my help to add CMake support that can ease and facilitate project. Pros of CMake is:
* Support for variety of platforms and toolchains
* Extendable and eas

[2020-12-25 13:32] ihhub commented on #2480
Hi @winterheart , we could add cmake support as an alternative build system, not as a replacement of makefile. Cmake has many drawbacks such as extra piece of software to be installed and weird VS project files compilation.
You could make a pull request for this.

[2020-12-25 14:13] viy2 opened #2481 "AI, sea path through whirlpool enters whirlpool on each step, loosing an army in the process."
fheroes 0.8.4, looks like regression. AI jumps through whirlpool too often, loosing its army in the process.
see screencast:

https://user-images.githubusercontent.com/3876825/103136744-b68e0c00-46cb-11eb-8b9a-76f5e536b39e.mp4

[2020-12-25 14:23] viy2 commented on #2481
added fheroes2 .sav that demonstrates this behavior. (end the turn to see the AI movement).
[save.zip](https://github.com/ihhub/fheroes2/files/5742065/save.zip)

[2020-12-25 22:09] vincent-grosbois commented on #2445
I'll do this one if it's ok

[2020-12-26 01:35] ihhub commented on #2445
@vincent-grosbois sure. I assigned this issue to you.

[2020-12-26 10:40] dimag0g opened #2484 "Crash on NULL return value from SDL_GetPrefPath"
If `SDL_GetPrefPath()` returns a `NULL` pointer, this value is unconditionally passed to `std::string` constructor, resulting in a crash.
See PR #2483

[2020-12-26 12:39] J013k commented on #2453
Unfortunately I do not have an environment to compile anything...
I'm a simple noob. ;)

I can only add that I have a Windows version of this game:
![https://i.postimg.cc/vBLQV2KH/her2.png](https://i.postimg.cc/vBLQV2KH/her2.png)

[2020-12-26 12:51] Branikolog commented on #1951
Wrong passability has Lean-to:
fheroes2
![image](https://user-images.githubusercontent.com/55348946/103151756-06370b00-4792-11eb-8ddd-a9b33acd45e0.png)
original game
![image](https://user-images.githubusercontent.com/55348946/103151778-2ff03200-4792-11eb-92a9-1a51f174c07f.png)

[2020-12-26 17:21] #1778 closed

[2020-12-26 21:03] J013k opened #2487 "Missing FMVs in "my exotic" version"
Hi.

I have a problem with [FMV](https://en.wikipedia.org/wiki/Full_motion_video)s  in "my exotic" PL version of a game.
I additionally copied all the SMK files including `H2XINTRO.SMK` into `Anim` folder.
![https://i.postimg.cc/cHqVsLPw/f-anim.png](https://i.postimg.cc/cHqVsLPw/f-anim.png)

Instead of having any [FMV](https://en.wikipedia.org/wiki/Full_motion_video), I'm getting "kicked" straight

[2020-12-27 02:21] ihhub commented on #2453
Hi @J013k , it's okay. Thanks! We'll try to find a developer who owns non-English version of the game to start with.

[2020-12-27 03:13] ihhub commented on #2487
Hi @J013k , video support is done in relation to GOG version of the game. In your case you should copy these files from `anim` folder into `heroes2\anim` folder like one nested folder. However, we will add more code to check both paths.

[2020-12-27 03:15] #2484 closed

[2020-12-27 03:27] ihhub commented on #495
Hi @Branikolog , this is logically correct behavior. You are pointing to move Phoenix to that hexagon. You have to think that you're commanding the Phoenix to move it's head to a hexagon near the wolf so its tail will be in hexagon on the left.

I think this is the same behavior as in the original game. Please let me your thoughts and you're agree with me then please close this issue.

[2020-12-27 03:50] dimag0g commented on #2480
@winterheart it would be interesting to see the results, however, as someone who ported a bunch of old games to a bunch of platforms, I came to the conclusion that such advanced build systems rarely improve things in practice. Common platforms don't need them because all the common libs and include files are there, as well as tools to discover them such as `pkg-config`. On more exotic platforms, a

[2020-12-27 08:31] LeHerosInconnu commented on #2394
This bug is still present in the castle construction screen.

In fheroes2:

![Income exit construction fh2 01](https://user-images.githubusercontent.com/43583994/103166827-2912ff00-4826-11eb-9d9f-a4a135086dc4.png)

Related to https://github.com/ihhub/fheroes2/pull/2404.

[2020-12-27 08:41] LeHerosInconnu opened #2489 "Heroes screen, clickable area to display the hero's experience info window reaches the spell points area"
In fheroes2, the clickable area to display the hero's experience info window reaches the spell points area.

In fheroes2:

![Hero level area spell points fh2 01](https://user-images.githubusercontent.com/43583994/103166991-a4c17b80-4827-11eb-93ed-51b4e815808f.png)

[2020-12-27 08:46] LeHerosInconnu opened #2490 "Combat screen, hero's sprite is displayed over the Ballista"
In fheroes2, the hero's sprite on the right is displayed over the Ballista.

In fheroes2:

![Hero over ballista fh2 01](https://user-images.githubusercontent.com/43583994/103167079-582a7000-4828-11eb-8969-d190803caa3f.png)

[2020-12-27 08:55] ihhub commented on #2394
Hi @undef21 could you please make the same changes for the construction screenb as well?

[2020-12-27 08:57] LeHerosInconnu opened #2491 "Castle information window, when a building has been built in a castle for the current tour, the small cross at the top right of the castle graphic should be displayed in the castle information window"
In fheroes2, when a building has been built in a castle for the current tour, the small cross at the top right of the castle graphic should be displayed in the castle information window.

In fheroes2:

![Info castle no cross fh2 01](https://user-images.githubusercontent.com/43583994/103167226-adb34c80-4829-11eb-84c9-b391cbf5fbb7.png)

![Info castle no cross fh2 02](https://user-images.githubuserco

[2020-12-27 08:58] ihhub commented on #2394
Hi @undef21 could you please make the same changes for the construction screenb as well?

[2020-12-27 09:10] Branikolog commented on #495
Hi, @ihhub!
Here we have two possible hexes to attack that couple of wolves, right? If we target head or tail the attack will be the same. Logically here we should have an ability to land Phoenixes on two different hexes, while attacking that wolves.
In the original game we can choose the place Phoenixes land: close to that skull or closer to that 16 wolves.
Don't forget, that in the original we h

[2020-12-27 11:44] #323 closed

[2020-12-27 12:35] winterheart commented on #2480
@dimag0g I'm almost done, here my results so far: https://github.com/winterheart/fheroes2/tree/cmake
Some things still need to implement such as integrate to CI and get compilation with SDL2.

Main advantage of using CMake is you don't have re-implement build process each time when project has major changes such as adding new platform, toolchain or a big reorganization. As long CMake has support n

[2020-12-27 12:55] dimag0g commented on #2480
@winterheart Looks neat. Unfortunately I won't be able to test it because devkitPro toolchain that I'm using doesn't have `sdl2_image-config.cmake`

[2020-12-27 13:12] dimag0g commented on #323
I noticed that with this last merge the save game dialog doesn't pre-fill the name anymore. Before the game was saved as `<scenario name>_<day count>` by default.

Was this change intentional? This is a problem for my Switch port where no keyboard is currently implemented. Even on platforms with a keyboard, I think the default save name was a pretty nice feature.

[2020-12-27 14:01] ihhub commented on #2158
Hi @LeHerosInconnu could you please update this issue as we made some changes since this issue was created?

[2020-12-27 14:16] ihhub commented on #323
Hi @dimag0g , I'll take a look. I think I know which change causes this.

[2020-12-27 14:19] ihhub commented on #2480
Hi @winterheart , tools are out of building for now after implementation of new rendering engine.
To test that your cmake compilation is correct we have to run at all our CI/CD pipelines to see that it passes on all platforms.

[2020-12-27 15:13] #2446 closed

[2020-12-27 15:13] #705 closed

[2020-12-27 15:15] ihhub commented on #2475
Hi @TIle7 AI is not an easy task to do so it takes time to shape all things up our AI is written from a scratch.

[2020-12-27 16:09] ihhub opened #2493 "Add clang compilation for GitHub Actions"
We would like to expand the range of compilers used in our CI/CD pipeline and to add OSX compilation with `clang`. What we need to do is to modify `.github/workflows/osx_pull_request.yml` file to add another entry there just for SDL 2 build. Most likely you have to take a look into `src/Makefile.all` file how we declare the compiler (and linker).
This will help us to add more compilation flags in

[2020-12-27 18:21] LeHerosInconnu opened #2494 "Combat, Hydras troop should be able to move in the hexagon located two hexagons apart"
In fheroes2, the Hydras troop should be able to move in the hexagon located two hexagons apart (red cursor).

fheroes2_windows_x64_SDL2, version 0.8.4 2483 (save from version 0.8.4 2479)

In fheroes2:

![Hydra possible move not allowed fh2 01](https://user-images.githubusercontent.com/43583994/103177130-f72a8880-4877-11eb-808d-f12d7490f091.png)

End the turn.
Gwenneth attacks Vesper in castle Bloo

[2020-12-27 18:33] LeHerosInconnu opened #2495 "File to Save window, the "File to Save:" window should not be closed when the player clicks the "CANCEL" button"
With the "game: always confirm for rewrite savefile" option enabled, when the program asks to confirm overwriting the file with the same name and the player clicks the "CANCEL" button, the program should not close the "File to Save:" window as it does now.

In fheroes2:

![Test overwrite file name fh2 01](https://user-images.githubusercontent.com/43583994/103177365-12969300-487a-11eb-9b45-95dea89d

[2020-12-27 18:51] LeHerosInconnu opened #2496 "Loading a save file, Heroes paths, when the program has just been launched and the user loads a save file (with heroes paths predefined by the player), the heroes paths are not displayed on the adventure map"
In fheroes2, when the program has just been started and the user loads a save file (with heroes paths predefined by the player), the heroes paths are not displayed on the adventure map.
If the same save file is reloaded (or another save file), then the heroes paths are correctly displayed.

In fheroes2:

![Hero path start load fh2 01](https://user-images.githubusercontent.com/43583994/103177655-a9

[2020-12-27 19:16] LeHerosInconnu opened #2497 "Combat, attack cursor should adapt its direction according to the possible direction of the attack and in the largest possible area of the hexagon"
In fheroes2, the attack cursor should adapt its direction according to the possible direction of the attack and in the largest possible area of the hexagon.

In fheroes2, the cursor must not display an attack direction that cannot be performed.
The cursor should automatically display the only possible attack direction and this in the maximum area of the hexagon where the attacked creature is locat

[2020-12-27 19:20] LeHerosInconnu opened #2498 "Game, recruitment of opponent heroes improved by AI players"
In fheroes2, it's too easy to recruit heroes improved by AI players compared to the original game.

In this game, I have already recruited heroes from the opposing players and there is still one hero available for recruitment in the tavern.

In fheroes2:

![Easy AI hero fh2 01](https://user-images.githubusercontent.com/43583994/103178186-e29ebe00-4880-11eb-82ce-f99b2e8224cc.png)

![Easy AI hero fh

[2020-12-27 19:31] LeHerosInconnu opened #2499 "Game, behaviour of AI heroes"
In fheroes2, AI heroes do not perform actions intended to "diminish the effectiveness" of opposing heroes.

In the example, the hero Rialdo is a threat to the AI hero Kastore.
Kastore has already visited the Artesian Spring, certainly the previous week, because he has double his Spell Points during combat.
However, Kastore should visit the Artesian Spring even if he already has twice his Spell Poi

[2020-12-27 19:37] vincent-grosbois commented on #2498
I don't get it, what's the intended behavior?

[2020-12-27 19:48] LeHerosInconnu opened #2500 "Adventure map, movement of the boat in relation to other boats"
In fheroes2, in the example, the boat should pass next to the boat to the north and not over it.
For the south boat in the example, the sprite of the moving boat should be displayed under the stationary boat and not over it.

In the original game, the correct position of the boat near the coast is shifted to the left.

In original game:

![Boat position H2 01](https://user-images.githubusercontent

[2020-12-27 19:58] LeHerosInconnu opened #2501 ""File to Save:" and "File to Load:" windows, depending on the file name, the date and time on the right side of the list is not vertically aligned"
In fheroes2, depending on the file name, the date and time on the right side of the list of files to load/save is not vertically aligned.

In fheroes2:

![Alignement date heure fh2 ligne 01](https://user-images.githubusercontent.com/43583994/103178729-cfdab800-4885-11eb-8a8b-65da71ed6346.png)

![Alignement date heure fh2 ligne 02](https://user-images.githubusercontent.com/43583994/103178733-d2d5a8

[2020-12-27 20:07] LeHerosInconnu commented on #2498
Hello @vincent-grosbois,

In the original game, AI players seem to recruit their defeated heroes more often, so the human player is less likely to be able to recruit them.
Someone should check the source code of the original game to see how this is handled.

[2020-12-27 21:51] vincent-grosbois commented on #2501
I checked and this is because it's aligned to the right
Is that different in the gog version?

[2020-12-27 22:21] LeHerosInconnu commented on #2158
Hello @ihhub,

Some remarks concerning a game played with version 0.8.4 2479.

- AI no longer wastes time playing with teleporters. :)
- AI is better at defending its castles with troops.
- Resource gathering and the capture of resource generators still needs to be improved.

A simple rule to apply for AI regarding resources:
- If there is no threatening enemy hero, first capture the resource gene

[2020-12-27 22:28] LeHerosInconnu commented on #2501
@vincent-grosbois.

In the original version of the game and in the GoG version, the date and time are not indicated in the file name list.
The file names are centered horizontally in the filename list.

[2020-12-28 07:04] Branikolog commented on #2498
I agree with @LeHerosInconnu. Enemy heroes with high level or with artifacts seem to appear in tavern too often. Either AI doesn't buy heroes that had run from a battle, or AI heroes were defeated too often...

[2020-12-28 12:51] Branikolog opened #2504 "Adventure map, hero's path shouldn't include a cell close to both creatures"
While attacking one creature, game creates a path, that causes hero attack both creatures standing close to each other.
![image](https://user-images.githubusercontent.com/55348946/103214580-db7bbc80-4921-11eb-8371-de2a56245106.png)

[2020-12-28 15:17] #2391 closed

[2020-12-28 16:49] eos428 commented on #2392
Hi @Branikolog can you check if this is still the case as of the latest commit?

I think one of my previous PRs changed this logic too, albeit accidentally.
Also, just to confirm again in case there's also a regression - are we supposed to initiate splitting on right click in this case, or just open the troop info?

[2020-12-28 18:49] vincent-grosbois commented on #2504
Hello,
I can have a look, but do you have a save file for this ?
Also, what is the behavior in the OG ? Should the path to the zombies specifically avoid the tile under the sprites?

[2020-12-28 18:50] vincent-grosbois commented on #2501
@LeHerosInconnu
ok
I'm not sure it's a bug then (?), I mean, it is intended to be aligned on the right for the dates

[2020-12-28 19:03] LeHerosInconnu commented on #2501
@vincent-grosbois.

Not much of a bug, but from an aesthetic point of view, it would be better to align the date and time on the left as is the case with file names when their names are short. :)

[2020-12-29 09:47] LeHerosInconnu commented on #2271
Same if it is the human defensive hero who loses the siege or surrenders during the AI's turn.
Same if the AI hero attacking the castle flees during the combat during the AI's turn.

[2020-12-29 12:26] LeHerosInconnu opened #2507 "Adventure map, re-centering of the screen should not happen after an AI hero attacks a hero and loses the combat"
In the original game, during the AI turn, when an opposing hero attacks the hero led by the human player located in a castle, and the AI hero loses the combat, and the human player's turn begins, the screen is already centered on the hero (the one who was defending the castle), so there is no re-centering of the screen.

In fheroes2, in the same case, the screen is not centered on the hero (the on

[2020-12-29 12:26] LeHerosInconnu opened #2508 "Hero, Magic Book, spells are not written in the hero's Magic Book at the beginning of the scenario"
In fheroes2, the spells are not written in the hero's Magic Book at the beginning of the scenario.
It is necessary to end the turn for the spells to be written in the hero's Magic Book.

In fheroes2:

https://user-images.githubusercontent.com/43583994/103283552-286e9a00-49d9-11eb-9f23-9007d3f4b351.mp4

Here is the test scenario file:
[AI attacks hero castle.zip](https://github.com/ihhub/fheroes2/f

[2020-12-29 18:23] vincent-grosbois commented on #2508
I'm wondering if this is the same for hero bonuses that you get when visiting a castle
But I don't think it existed yet in Heroes 2

[2020-12-29 18:34] Branikolog commented on #2392
Hello, @eos428!
Currently, this issue doesn't happen: when we initiate splitting of one troop with right click over other stack of the same type nothing happens. (That's ok, we cannot split 1 single troop.)
But unfortunately, right click splitting over a troop of the same type doesn't work at all. We cannot split any amount of troops over other stack of troops of the same type.
I think, for now we

[2020-12-29 18:49] Branikolog commented on #2507
Hello, @LeHerosInconnu!
Can you explain a little bit more of this issue, please?
Does screen needed to be focused on a winner of the battle, after the battle is over, right?
Will this re-focus happen before vanishing animation of attacking hero or after it?
Will a battle between two AI have the same behaviour of screen focusing?

[2020-12-29 19:00] Branikolog commented on #2504
Hello, @vincent-grosbois.
Unfortunately, I cannot provide a savefile right now. Can you wait till tomorrow, please?
Actually, I haven't reproduced this issue in the OG, but I'm pretty sure, the path should include the bottom cell in this area (As I've drawn on a screenshot)
![path2](https://user-images.githubusercontent.com/55348946/103307475-2d573c00-4a21-11eb-9e72-078818d7ebe4.png)

[2020-12-29 19:21] Branikolog commented on #2497
Hi, @LeHerosInconnu.
I think this issue happens to the missing direct attacks of 2-hex creatures. We have an #501 issue regarding this.
But I like your comment regarding adaptation of cursor attacking area for the cases, some of directions are impassible.
Can you, please, transform your issue (or create new) so we can investigate and fix the cursor pointing areas?

[2020-12-29 19:28] Branikolog commented on #2496
Hi, @LeHerosInconnu!
Nice precision of my old #731 issue!

[2020-12-29 19:29] #731 closed

[2020-12-29 20:12] LeHerosInconnu commented on #2496
Hello @Branikolog,

Oh yes, there are too many issues. :)

[2020-12-29 20:22] LeHerosInconnu commented on #2508
Hello @vincent-grosbois,

In Heroes 2, there are only temporary bonuses for Morale (Tavern, Barbarian's Castle), Luck (Sorceress' Castle) and Spell Power (Necromancer's Castle) when the hero (or Captain) defends the castle.

[2020-12-29 20:54] LeHerosInconnu commented on #2497
@Branikolog.

I changed the title and modified the first post.

[2020-12-29 21:07] Branikolog commented on #2497
Well done, @LeHerosInconnu!
Thanks a lot, for finding such issue!

[2020-12-29 21:12] vincent-grosbois commented on #2507
@Branikolog
I didn't see your message before
I've made a tentative PR to fix this. It fixes the problem but indeed it's not very clear what is the regular behavior

[2020-12-29 21:22] LeHerosInconnu commented on #2507
@Branikolog and @vincent-grosbois.

In the original game, after the combat, the defending hero is centered (in the background) before the attacking hero disappears.

In original game:
Open the two images in different tabs in your browser and switch between the two tabs alternately.

![vlcsnap-2020-12-29-22h03m53s468](https://user-images.githubusercontent.com/43583994/103314704-1534ec00-4a24-11eb-8

[2020-12-30 09:20] eos428 commented on #2392
I see... we have a regression here then. Although I think the current implementation makes it similar to the original game's logic, where right click will just show the troop info :P

But anyways, can you assign this issue to me? I'll work on it once my latest PR is merged.

[2020-12-30 15:10] #2508 closed

[2020-12-30 18:14] vincent-grosbois commented on #2504
As you are the person who did the pathfinding, I think you are better suited than me for this issue ;)

[2020-12-30 20:14] vincent-grosbois commented on #985
@Branikolog
I've just checked and the morale penalty is applied (but it triggers like 1 time out of 12 as expected)
What I'm sure sure is :
- tooltip window still show that unit have "normal morale" ie not affected by Bone Dragons
- even dead Bone Dragons will affect morale in battle, I'm not sure it's supposed to work like this or not

[2020-12-31 03:07] #2394 closed

[2020-12-31 03:09] #2489 closed

[2021-01-01 15:28] #2494 closed

[2021-01-03 09:12] ihhub commented on #2487
Hi @J013k , did it help you?

[2021-01-03 09:43] ihhub commented on #1544
Hi @LeHerosInconnu and @Branikolog , I can change it with ease but we haven't decided how we're going to separate creatures which moved and didn't?
Solution 1: display creature's speed string and value if it hasn't been moved otherwise creature's speed string and (0)
Solution 2: always display creature's speed string and value independent from creature's movement
Solution 3: display a separate ind

[2021-01-03 09:47] ihhub commented on #643
Closing this issue as it was fixed some time ago.

[2021-01-03 09:47] #643 closed

[2021-01-03 10:05] ihhub commented on #1272
Hi @LeHerosInconnu , we recently updated `game: show info system` option to show current time and FPS value. Now this option is more valuable.

[2021-01-03 10:20] ihhub commented on #901
Hi @shprotru , I tested this issue and for me it's not valid. Is it still valid for your side?

[2021-01-03 10:32] ihhub commented on #1457
Closing this issue as it's not reproducible anymore.

[2021-01-03 10:32] #1457 closed

[2021-01-03 11:09] shprotru commented on #901
Hi @ihhub, checked on fresh master: bug is gone, ticket could be closed

[2021-01-03 11:10] #901 closed

[2021-01-03 11:17] J013k commented on #2487
I am not sure what do you mean...
Should I change name of my folder from `Heroes of Might and Magic II` to `heroes2`?
Because currently I have all the animations in `...\Heroes of Might and Magic II\Anim` on a HDD
and in `E:\Heroes2\Anim`* on a CD.

[*] - E.g. "E" it is a letter for my optical drive

Additionally these fixes were tagged with 0.9 milestone...
The latest version seems to be 0.8.4.
O

[2021-01-03 11:24] ihhub commented on #2487
Hi @J013k ,
- if you unpacked fheroes2 into `E:\Heroes of Might and Magic II` and video files are located at `E:\Heroes of Might and Magic II\Anim` then you need to move Anim folder to `E:\Heroes of Might and Magic II\Heroes2` directory so your animation/video files will be located at `E:\Heroes of Might and Magic II\Heroes2\Anim`.
- tags are for the versions where a bug or feature will be impleme

[2021-01-03 11:34] ihhub commented on #2487
However, I'll make some changes to detect videos even for your version.

[2021-01-03 12:10] #2487 closed

[2021-01-03 12:16] LeHerosInconnu commented on #1544
Hello @ihhub,

I will go for solution 3. :)

[2021-01-03 12:22] J013k commented on #2487
*Facepalm*

Sorry about that...
When I copy all the animation into `...\Heroes of Might and Magic II\Heroes2\Anim` I have Intro:
![https://i.postimg.cc/vZ7cHVch/Intro.png](https://i.postimg.cc/vZ7cHVch/Intro.png)
At least `H2XINTRO.SMK` probably because only this intro is supported.

However there is something wrong with "cutscenes" after starting a campaign...
At first I have a corrupted image:
!

[2021-01-03 12:25] ihhub commented on #2487
Hi @J013k , that's great! I pushed changes to support **Anim** path as well for your Gold version so in the future you won't need to manipulate directories.

[2021-01-03 12:33] LeHerosInconnu commented on #1272
@ihhub.

I modified the first post accordingly.

[2021-01-03 12:40] J013k commented on #2487
Thank you.

I am not sure if I am getting retarded or somethings else...

But do you also have the same problems with cutscenes?

[2021-01-03 12:45] ihhub commented on #2487
No, we haven't experienced such issues with video playback. It might be that your version of the game has different video file standard or there's something wrong with palette switching in our game.

[2021-01-03 13:01] J013k commented on #2487
Thanks once again.
Theoretically "my" version has got PL dubbing in FMVs\Cutscenes,
but I'm not sure if there is an another video standard\codec involve in this.

Should I make an another "Issue" or for now leave it as it is?

[2021-01-03 13:14] ihhub commented on #2487
Hi @J013k please make another issue for video problem so we could track it in the future.

[2021-01-03 13:30] J013k opened #2528 "Corrupted cutscenes"
There is something wrong with "cutscenes" after starting campaign...
At first I have a corrupted image:
![https://i.postimg.cc/sxSZY0gd/FMV-1.png](https://i.postimg.cc/sxSZY0gd/FMV-1.png)
After one\two second(s) everything seems to be fine:
![https://i.postimg.cc/j2XRYz8n/FMV-1a.png](https://i.postimg.cc/j2XRYz8n/FMV-1a.png)

Tested on Win 7 x64, x64_SDL1 and x64_SDL2 (0.8.4).

[2021-01-03 15:16] Branikolog commented on #1544
I think we should go for original implementation for now.
And make separate enhancement issue to display the case, when troop has already performed an action.

[2021-01-03 15:29] #1590 closed

[2021-01-03 15:42] #1544 closed

[2021-01-03 15:43] ihhub commented on #1544
@LeHerosInconnu and @Branikolog please create a separate topic in `Discussions` how we could indicate moved creature. Once we come up with the idea we can create needed issue.

[2021-01-04 10:11] ihhub commented on #2528
Hi @J013k, the problem is a bit deeper. The video should be 640x480 resolution but it's not.

[2021-01-04 12:50] Branikolog commented on #985
@vincent-grosbois, hi!
Hmm. If negative morale is applied, as you and @idshibanov told before, the problem is just in a tooltip window: every time I check current morale of a creature during battle, it shows normal. While it should be changed to negative state.

[2021-01-04 12:58] Branikolog commented on #2377
This issue is also valid for the cases, when hero at start scenario stands too close to a neutral creature:
![image](https://user-images.githubusercontent.com/55348946/103537553-aa613600-4ea5-11eb-9334-3cd39b2a81ea.png)

[2021-01-04 13:50] Branikolog commented on #2504
I've checked this issue in original game and there path is completely the same.
My fault. I was confused here because of the issue, where all creatures attack hero, if he stands in a cell close to them. (#1185) That's why I've decided, this path wasn't optimal.

[2021-01-04 13:50] #2504 closed

[2021-01-04 13:56] J013k commented on #2528
Yes, you are right.
Intro (filling full screen at 640x480 res):
![https://i.postimg.cc/sDh7sqGc/screen2.png](https://i.postimg.cc/sDh7sqGc/screen2.png)

There is also something else:
![https://i.postimg.cc/fyZys2GH/select.png](https://i.postimg.cc/fyZys2GH/select.png)
At this screen to select "path" (good or evil), rectangle for selecting a character stays "corrupted" at the top.

Without FMVs Rol

[2021-01-04 14:10] Branikolog opened #2537 "Adventure map, attacking state of neutral creatures regarding option "the first monster will attack""
When we set the option, which makes only the first creature attack hero, on, creatures doesn't change to attacking sprite while being attacked by a hero.
On a screenshot hero attack a bunch of zombies, but none of them change to attacking sprite.
![image](https://user-images.githubusercontent.com/55348946/103543072-f8c70280-4eae-11eb-9a78-1a1eeeaadbe4.png)
But when we set the option off, all of th

[2021-01-04 14:53] LeHerosInconnu commented on #2504
Hi @Branikolog,

What is the name of the scenario corresponding to this screenshot?

[2021-01-04 14:58] Branikolog commented on #2504
@LeHerosInconnu, hi.
I can't tell right now, as I've left from work.
I'll write tomorrow.

[2021-01-04 15:05] Branikolog commented on #2504
It was the @idshibanov ,who did this enormous work of creating pathfinding. :)

[2021-01-05 11:08] Branikolog commented on #2504
@LeHerosInconnu
Here it is.
[RiddleMe.zip](https://github.com/ihhub/fheroes2/files/5769770/RiddleMe.zip)

[2021-01-05 14:30] LeHerosInconnu commented on #2504
Hello @Branikolog,

Although the path is like in the original game, I think the path you proposed (with the arrow with only a green outline) would be more appropriate.

Why don't you open a new issue in that direction?
This would be an improvement over the original game where the hero ends up in a square adjacent to a wandering troop after attacking another wandering troop.

[2021-01-05 14:45] Branikolog commented on #2504
I thought, it was my excessive hypercriticism.
But if you do agree with me, I'll do an enhancement issue then. :)

[2021-01-05 14:51] LeHerosInconnu commented on #2504
@Branikolog.

Sometimes criticism is good. :)
And the path seems more logical this way. :)

[2021-01-05 20:18] vincent-grosbois opened #2542 "Suggestion for "View World" windows"
Here are some proposals for an improvement of the view world windows (and "view all", "view artifacts" etc windows)

- once one of these spell is cast, casting it again on the same turn is free
- once "view all" spell is cast, going on the "view world" window opens the window for "view all" spell
- binding the "view world" window to the scroll wheel from the world map, ie it dezooms the world map

[2021-01-05 22:36] LeHerosInconnu commented on #2542
Hello @vincent-grosbois,

I'm currently working on a suggestion for the "View" spells.
I would normally post it tomorrow.
I think you'll be happy. :)
Stay tuned. :)

[2021-01-06 13:05] #2324 closed

[2021-01-06 13:12] #1722 closed

[2021-01-06 14:51] LeHerosInconnu commented on #2542
@vincent-grosbois.

Here is the suggestion: https://github.com/ihhub/fheroes2/discussions/2544.

[2021-01-07 15:50] vincent-grosbois commented on #985
@Branikolog
ok I think I can change it
What I'm wondering now is if there are other creatures that do this kind of stuff ? (ie changing monster's stats)
Also I wonder if dead dragons count or just alive ones

[2021-01-08 13:36] LeHerosInconnu commented on #985
Hello @vincent-grosbois,

The Bone Dragon is the only creature that changes the stats of opposing (or allied) creatures, but I think the possibility of changing the creature stats by another creature could be considered for Beyond 1.0.

The moral malus of the Bone Dragon's opposing troops is activated at the beginning of the combat and is valid until the end of the combat whether the troop is deci

[2021-01-08 13:54] Branikolog opened #2554 "Game should ask if player wants to retreat during auto battle"
Currently, AI retreats on its own will, when we use auto battle and AI feels, the battle is going to be lost. Without asking a permission from a player.
I think, there should appear a dialog, where player can choose an action.
This was implemented in Heroes3, where we could see something like: " [Name of hero] feels, he can lose this battle and suggests you to run away." [Yes]/[No]

[2021-01-08 18:11] Branikolog commented on #985
@LeHerosInconnu, thanks for your precision. :)
I'm really busy these days, so cannot answer in time sometimes.
@vincent-grosbois, just in case, I want to clarify that Bone Dragons shouldn't affect undead creatures.

[2021-01-08 22:24] vincent-grosbois commented on #1460
Wait, so Crystal Ball is supposed to work for the whole map once you have it ?

[2021-01-09 13:35] #985 closed

[2021-01-09 13:52] LeHerosInconnu commented on #1460
Hello @vincent-grosbois,

No, the Crystal Ball works with a radius, but the information about the objects located in this radius is always displayed even when the hero who owns the Crystal Ball is not selected.

[2021-01-09 20:33] dimag0g opened #2559 "Optimize include files (include what you use)"
I wonder is such kind of optimization would be welcome:

https://github.com/dimag0g/fheroes2/commit/53a3569e144152064d84947abb5aacb0871c4074

The current principle I apply is:

- if a unit includes a header directly without using any definitions from it, remove the include line
- if a lot of units include a header indirectly (via intermediate headers) and only a few units actually use it, remove t

[2021-01-10 02:05] ihhub commented on #2559
Hi @dimag0g , it is a well-known issues with current project. The structure was made before us and we have already done many changes to decouple the code.
Decouping always reduces compilation time and of course such work is needed in order to speed up our CI/CD servers.

[2021-01-10 02:12] ihhub commented on #2559
@dimag0g , you should go ahead and do decoupling as you've done some background work.

[2021-01-10 02:21] dimag0g commented on #2559
@ihhub Thanks. Let me know if you want me to make a PR with the current changes, or make more changes (perhaps decouple serialize.h) before I come up with a PR. Or maybe you have something else in mind.

[2021-01-10 02:59] ihhub commented on #2559
@dimag0g the rest of changes seems not that trivial and require more code refactor. You can create a PR just for these changes and later decouple more dependencies in a separate PR.

[2021-01-10 08:33] #1171 closed

[2021-01-10 08:33] #1172 closed

[2021-01-10 11:02] #1455 closed

[2021-01-10 11:18] #2464 closed

[2021-01-10 12:03] #1505 closed

[2021-01-10 12:03] #1617 closed

[2021-01-10 12:03] #2190 closed

[2021-01-10 13:04] #2460 closed

[2021-01-10 15:50] ihhub commented on #2023
Fixed in #2562 .

[2021-01-10 15:50] #2023 closed

[2021-01-10 16:21] #2026 closed

[2021-01-10 16:21] #2151 closed

[2021-01-10 16:22] #2462 closed

[2021-01-10 19:10] vincent-grosbois opened #2570 "Make "extended scouting" random number not that random"
Currently when the option "extended scouting" is on and when the hero has either basic or advance scouting, it will display approximate numbers for monsters and army
However this is randomly generated everytime you right-click, so you get a new number each time which makes it easy to guess what is the correct number.
Also the formula used is made such that even the random interval allow you to ded

[2021-01-10 20:28] LeHerosInconnu commented on #2570
Hello @vincent-grosbois,

Your suggestion is welcome, but I find that in its current state this option is a little "light" in terms of the bonus provided.

I have made a slightly more substantial proposal that would give a little more "punch" to the Scouting skill: https://github.com/ihhub/fheroes2/issues/1506. :)

What do you think about it?

[2021-01-10 21:28] vincent-grosbois commented on #2570
Hello
your discussion is more about new gameplay ideas etc, whereas  I was talking about changing/fixing existing gameplay behavior, they are not incompatible :)

[2021-01-10 21:54] LeHerosInconnu commented on #2570
Hello @vincent-grosbois,

Yes, as the current functioning of the option is not really interesting in terms of bonuses (it just gives a slightly more precise approximation than the term used without the skill, nothing really fabulous), I think that it is not necessary to keep this current functioning of the option and that it would be better to completely replace the functioning of the option with

[2021-01-10 22:53] Branikolog commented on #2570
Let's leave a completely rework of this skill for a "beyond 1.0" milestone.
For now, it should be switched off on default.
If @vincent-grosbois wants to try his hand fixing logic of this enhancement, I can only ask not to waste lots of time on this and make some simple solution, as we have more prirority issues.
After being fixed, it can be useful for newcomers. But I won't complain, if we decide

[2021-01-10 23:02] vincent-grosbois commented on #2570
I agree with you that it's really "beyond 1.0" . But the issue I have with this is that the option can still be enabled.
Maybe it's best for now to not fix the bugs and to make this option not available in the UI?

[2021-01-10 23:12] Branikolog commented on #2570
@vincent-grosbois, I'm afraid, that Master developer won't approve such decision. ) Not available option in UI - means deleted option for him. )
Let's wait for answers from other members and master dev too. For me, personally, I vote for deleting this code (As I'm pretty sure, it's not good at all to save it for the future improvements.) and for deleting this option from the CONFIG menu.

[2021-01-10 23:52] Branikolog opened #2572 ""Town Portal" spell window, shadow is missing"
Both good and evil windows of "Town Portal" spell don't have shadows.

[2021-01-11 02:27] #2495 closed

[2021-01-11 10:42] vincent-grosbois commented on #2570
Ok I see
I guess the question also applies for all of the "custom settings" that exist and that are not activated by default.  Usually they are more buggy than the rest of the codebase, but at the same time not many people use this

[2021-01-11 10:52] Branikolog opened #2573 "Combat screen, info windows text's layout"
Text of info windows for "Cast spell', "Surrender" and "Retreat" buttons is not aligned considering upper and bottom edges of the window.
![image](https://user-images.githubusercontent.com/55348946/104170796-be131c00-5412-11eb-81b0-dac95391c26f.png)
![image](https://user-images.githubusercontent.com/55348946/104170828-c8cdb100-5412-11eb-9bf0-da06f26a4b28.png)
![image](https://user-images.githubuse

[2021-01-11 11:03] vincent-grosbois commented on #987
Are you sure the issue is still there?
In fheroes2 the quantity of monster to join is dependent on the skill level, AFAIK this is correct
The fact that a stack joins is not randomized: it depends on relative strength of army vs stack and some flags set for the stack itself. I'm not sure if it is different than the original game (I couldn't find any info on this)

[2021-01-11 12:01] Branikolog opened #2575 "Movement penalty operation and switching"
Currently, movement penalty turns on, when we select "Show visited content from objects" option in CONFIG menu. Which is not obvious.
I suggest adding a separate option in CONFIG menu for switching on penalty description.

[2021-01-11 12:11] #1296 closed

[2021-01-11 12:48] Branikolog opened #2576 "Game freezes during AI turn"
Something happens during yellow player's turn.
[Freeze.zip](https://github.com/ihhub/fheroes2/files/5795804/Freeze.zip)

[2021-01-11 12:56] Branikolog commented on #987
Hi, @vincent-grosbois
I've just checked. Issue is still on. While hero having Diplomacy skill (I've tested with expert one) Every creature offered me to join army. 95% with gold and 5% of creatures for free. I've attacked ~30 stacks.

[2021-01-11 14:17] LeHerosInconnu commented on #2570
Hello @vincent-grosbois,

Have you consulted this thread: https://github.com/ihhub/fheroes2/issues/1272?
There is information about the options.
Also, if you found other bugs for the options, please specify the defect so I can indicate it in the first post of the thread. :)

[2021-01-11 14:50] Branikolog commented on #987
@vincent-grosbois, my apologies for incorrect description.
I've edited the first post.

[2021-01-11 15:07] Branikolog opened #2578 "Main menu, game allows to choose the color, which is not supposed to be human player"
fheroes2:
![image](https://user-images.githubusercontent.com/55348946/104198820-bfa30b00-5437-11eb-856f-ee1f2af91732.png)
The same map in OG:
![image](https://user-images.githubusercontent.com/55348946/104198894-d9445280-5437-11eb-9651-6cf5dae45d76.png)

[2021-01-11 15:11] vincent-grosbois commented on #987
In that case, shouldn't we also edit the tags / milestone for this ? :) I mean, if we can confirm that the OG is working like this

[2021-01-11 15:15] #2507 closed

[2021-01-11 15:21] LeHerosInconnu commented on #2573
Hello @Branikolog,

Yes, this problem is present in all fheroes2 windows. :)
I think that all windows should have the same layout to achieve visual consistency in the game.
I made a proposal in this sense here: https://github.com/ihhub/fheroes2/issues/1260.

Also, I think it's better if the window title is always at the same position relative to the top of the window rather than the whole "text bl

[2021-01-11 15:31] Branikolog commented on #987
@vincent-grosbois
The problem is that in the original game if hero has no free space in his army, no-one would like join his army! But fheroes2 has a nice enhancement, where hero can re-arrange army during joining dialog. So this causes  joining dialog to appear constantly. And persistent battles after a refusal too.
I think we need either to allow creatures to run away after refusal (with a certa

[2021-01-11 15:39] Branikolog commented on #2573
@LeHerosInconnu
Once again, I'm making mistakes while explaining the problem. :)
You're definitely right. We need to adjust window's size, so that gaps between upper and bottom edges will be the same.
Also gaps in all windows in game should be the same (Or close to that) (Except the cases, the text is too huge, so it fills the whole screen)

[2021-01-11 17:56] LeHerosInconnu opened #2580 "Summon Boat spell, selection of the boat summoned when casting the "Summon Boat" spell"
For the selection of the boat summoned when casting the "Summon Boat" spell, I suggest that it works this way:
- the free neutral boats (empty boats at the beginning of the scenario) must be summoned first according to their distance, the closest one first,

- a boat that has just been summoned is ignored for subsequent summonings as long as the hero is located in the same square where it was duri

[2021-01-11 19:42] LeHerosInconnu commented on #2575
Oh, nice catch. :)
Yes, this option should be independent.

In fheroes2:

![Terrain penalty near hero display 01](https://user-images.githubusercontent.com/43583994/104229755-f46d8d00-544c-11eb-9d93-aaf702557aa4.png)

![Terrain penalty near hero display 03](https://user-images.githubusercontent.com/43583994/104230064-59c17e00-544d-11eb-8dfc-21e4ed896798.png)

![Terrain penalty near hero display 02

[2021-01-11 21:17] LeHerosInconnu commented on #987
@Branikolog and @vincent-grosbois.

I don't think Diplomacy is too powerful in Heroes 2, it's just another way to recruit creatures.
The player must pay the cost of recruiting creatures, it is not free.
Diplomacy allows to recruit creatures "on the way", this is its advantage.
Also, I find that in Heroes 2, Diplomacy is restrictive to use, I plan to add an option that will allow easier use from th

[2021-01-12 07:41] Branikolog commented on #2575
@LeHerosInconnu, thanks!
I was just looking for the way to turn it on for about 15 minutes. :)
Somehow the option regarding object info was turned off and I was confused by the missing penalty description, which I've noticed.)

[2021-01-12 08:15] Branikolog commented on #2580
Hello, @LeHerosInconnu

Are you sure, it's the original behaviour? I supposed, that boats only marked as belonging to a certain player only after boarding on any or being built in a shipyard by this player.

So, you're suggesting, that hero will always summon the same boat, he boarded the last time. No matter how far is it and even if there're lots of "summonable" boats nearby?

Actually, I though

[2021-01-12 12:18] Branikolog opened #2583 "Pathfinding issue, not optimal path"
Hero has enough movement points to reach the needed cell, but when there's other hero there, hero lacks movement points.
![image](https://user-images.githubusercontent.com/55348946/104313379-fdac3780-54e8-11eb-82d0-03bbb4a6ecdc.png)
![image](https://user-images.githubusercontent.com/55348946/104313611-4ebc2b80-54e9-11eb-89bb-d494c77035df.png)

[2021-01-12 12:27] Branikolog commented on #2583
Here's a savefile for this issue.
[pathfinding.zip](https://github.com/ihhub/fheroes2/files/5801990/pathfinding.zip)
Also, I've noticed, that in the original game path is created in different way according to the amount of points left:
![image](https://user-images.githubusercontent.com/55348946/104314520-a018ea80-54ea-11eb-90db-3eaa54552666.png)
![image](https://user-images.githubusercontent.com/5

[2021-01-12 12:34] Branikolog opened #2584 "AI is stuck in front of buoy"
I've found that AI is fond of standing in front of buoy and doing nothing.
![image](https://user-images.githubusercontent.com/55348946/104315187-9cd22e80-54eb-11eb-850a-ce54f9a54a9d.png)

[2021-01-12 12:58] Branikolog commented on #2584
[AI vs Buoy.zip](https://github.com/ihhub/fheroes2/files/5802183/AI.vs.Buoy.zip)

[2021-01-12 15:25] LeHerosInconnu commented on #2580
Hi @Branikolog,

The operation and use of the "Summon Boat" spell is a real mess in the original game. :D

Here I'm trying to do something consistent and better than in the original game, also with future possibilities in mind added to the scenario editor:
- In the scenario editor, it should be possible to set each free empty boat to a specific player (or neutral), so the boat is considered one of

[2021-01-12 15:45] #2584 closed

[2021-01-12 17:26] vincent-grosbois commented on #2575
I don't even get what's the point of this movement penalty box...
Is it normal that it shows only for nearest tile, or is it a bug?

[2021-01-12 17:34] Branikolog commented on #1415
Here's a savefile for that issue.
![image](https://user-images.githubusercontent.com/55348946/104350475-3cf07d80-5515-11eb-8305-ea394af68c5b.png)
[Diplomacy Trading_.zip](https://github.com/ihhub/fheroes2/files/5803781/Diplomacy.Trading_.zip)
Also, we can reproduce it even easier. Attack the vampires. We have a dilaog, where we're lacking room and gold. Enter hero's army, unite cavalry. And here w

[2021-01-12 17:39] Branikolog commented on #2575
@vincent-grosbois
I can say for now it's something like a hint for a player. He can find out, what is the penalty at different terrains.
In future, we're planning to evolve this feature, so we can find out how many movement points player would waste, while traveling over the path created.

[2021-01-12 18:16] LeHerosInconnu commented on #2583
Just for information, there is a similar issue here: https://github.com/ihhub/fheroes2/issues/2200.
And, there is a related issue here: https://github.com/ihhub/fheroes2/issues/1986.

[2021-01-12 18:26] LeHerosInconnu commented on #2575
@vincent-grosbois and @Branikolog.

Yes, in its current operation, I also find this feature to be almost useless. :)
I made a related proposal here: https://github.com/ihhub/fheroes2/issues/2198.

[2021-01-12 18:35] Branikolog commented on #2583
Indeed. Thanks, @LeHerosInconnu. Issue list is soo huge now, hard to remember all the issues.)

[2021-01-12 18:40] Branikolog commented on #1986
@LeHerosInconnu
I've just remembered the same case in Heroes3.
A hero with such small amount of points can move over a road/ (And he has a tiny yellow bar in movement meter left). But when he tries to step to a swamp, which penalty is huge, all movement points disappear, but hero doesn't move. What is original behaviour of heroes2 in this case?

[2021-01-12 18:40] vincent-grosbois commented on #2198
I see
to be honest I'm in favor of completely removing this.
Reason is:
- it's yet one more config flag to add more settings
- I don't really see the added value
Basically you can already know by how much you can travel by clicking or hovering the mouse. This just give info about the penalty point based on the tile type and pathfinding. I don't think many people even know/count these.
I mean, not

[2021-01-12 18:43] Branikolog commented on #2198
I suspect this option is not working correctly, but I even haven't created an issue, because I believe, we implement more useful penalty indicator in future...

[2021-01-12 19:26] LeHerosInconnu commented on #2583
@Branikolog.

Yes, it becomes tedious to check if an issue is already reported. :)

[2021-01-12 19:35] LeHerosInconnu commented on #1986
@Branikolog.

In the original game, if the hero can make a last horizontal or vertical move from the type of terrain or the road, then he can make a last move diagonally.
In the original game, it is the type of terrain or the road from which the hero initiates his last move that determines the possibility of the last move.

If the hero can move horizontally or vertically from the "grass" terrain,

[2021-01-12 19:43] #2542 closed

[2021-01-12 19:43] vincent-grosbois commented on #2542
I close this because it's duplicated idea with the link

[2021-01-12 19:52] LeHerosInconnu commented on #2198
@vincent-grosbois and @Branikolog.

In the current version, it does not have much interest.
In a version extended to all squares of the adventure map, this can be useful to check the terrain penalty depending on the hero selected without having to open the hero screen.

Very useful on large maps with several heroes to plan movements according to the hero's effective penalty on the types of terrain

[2021-01-13 12:21] #2248 closed

[2021-01-13 13:03] #1415 closed

[2021-01-13 13:38] Branikolog opened #2589 "Combat, troops can be attacked, while standing right behind the moat"
Troops, that enter moat shouldn't be able to attack enemy behind the moat. This can happen only if attacking troop spends one turn standing in a moat.
![image](https://user-images.githubusercontent.com/55348946/104459342-aa57e900-55bd-11eb-830e-a4c2c92ba598.png)

[2021-01-13 13:41] #2407 closed

[2021-01-13 13:41] #2408 closed

[2021-01-13 13:44] ihhub commented on #1877
@Branikolog and @LeHerosInconnu am I correct to say that we are going to keep the current logic and won't change it back to the logic in the original game? If yes we will close this issue and related pull request.

[2021-01-13 14:01] Branikolog commented on #1877
I vote for captain in the upper row.

[2021-01-13 15:20] LeHerosInconnu commented on #1877
Hello @ihhub,

I am for the captain to stay in the top box as is currently the case in fheroes2.

[2021-01-13 15:22] ihhub commented on #1877
In this case I'm closing this issue and the pull request as everyone agreed on the same.

[2021-01-13 15:22] #1877 closed

[2021-01-13 15:43] ihhub commented on #2589
The problem is not being attacked but being set to the position of the wall.

[2021-01-13 15:45] ihhub commented on #2589
Hold on. The wall is broken so my initial assumption is incorrect.

[2021-01-13 16:52] ihhub commented on #2578
This is a special map case: the map has loss condition of specific hero which is under Green hero possession while in multiplayer this map allows to particiate 2 human players. We need to add logic to handle this special case.

[2021-01-13 19:14] KloinTiinn opened #2590 "0.8.4 window does not expand to full screen, ALT+Enter doesn't work"
Operating System: Debian GNU/Linux 10 (buster)
Kernel: Linux 4.19.0-13-amd64
Architecture: x86-64

fheroes2 SDL2
![Screenshot_20210113_221100](https://user-images.githubusercontent.com/77409701/104498366-a42d3100-55ec-11eb-8a0b-f543e0976772.png)
 version

[2021-01-13 19:17] Branikolog commented on #2590
Hi, @KloinTiinn.
Fullscreen is switching by "F4" button. (On some notebooks it's also required to press "Fn")
Can you confirm this issue?

[2021-01-13 19:20] KloinTiinn commented on #2590
Thanks, F4 works

[2021-01-13 19:25] Branikolog commented on #2590
@KloinTiinn
You're welcome! :)
If you have any questions, you can always discuss them in our discord chanel.

[2021-01-13 19:25] #2590 closed

[2021-01-14 11:39] #1626 closed

[2021-01-14 11:40] ihhub commented on #1626
Hi @LeHerosInconnu and @Branikolog I took steps forward and implemented this for 4 spells except chain lighting as this spell is still buggy.

[2021-01-14 11:40] ihhub commented on #1626
Also there is not option for toggle on/off. I don't think we damage any user experience by having such interface. If you have concerns please let me know.

[2021-01-14 11:46] Branikolog commented on #1626
Good.
We have a lot of time to test, as it works now. We always can make changes if required.

[2021-01-14 16:02] LeHerosInconnu commented on #1626
Hello @ihhub,

Ah, nice. :)
It's okay for it to be integrated directly (without being an option) because it improves the game without changing the way it works.

I will do some testing. :)

[2021-01-14 16:17] LeHerosInconnu commented on #2580
Closed to propose another suggestion.

[2021-01-14 16:17] #2580 closed

[2021-01-14 19:06] Branikolog opened #2594 "Kingdom summary window, list of heroes doesn't refresh after dissmissing or hiring a hero"
When we dismiss any hero from "Kingdom Summary" window, hero list doesn't update.
Also, UI of this window corrupts after the action.
Edit: Same thing happens after we hire a new hero through "Kingdom Summary" window.
![image](https://user-images.githubusercontent.com/55348946/104636451-701d4300-56b4-11eb-9e4a-02c15ff4a653.png)
![image](https://user-images.githubusercontent.com/55348946/104636523-8

[2021-01-14 19:25] LeHerosInconnu opened #2595 "The program crashes when the user interacts with the Kingdom Overview screen and with the hero in garrison when the "castle: allow guardians" option is enabled"
The program crashes when the user interacts with the Kingdom Overview screen and with the hero in garrison when the "castle: allow guardians" option is enabled.

In fheroes2:

![Castle allow guardian crash 01](https://user-images.githubusercontent.com/43583994/104638322-507f1e00-56a6-11eb-8583-116f2c36f6ce.png)

https://user-images.githubusercontent.com/43583994/104638381-5e34a380-56a6-11eb-80fe-8

[2021-01-14 19:37] Branikolog opened #2596 "Kingdom summary window, splitting units happens while moving troops"
If we try to move troops in kingdom summary windows, accidentally splitting dialog appears.
![image](https://user-images.githubusercontent.com/55348946/104639979-11a69380-56b9-11eb-97f2-efdafbf44f6d.png)

[2021-01-14 19:38] LeHerosInconnu commented on #2594
There are also graphic problems.

In fheroes2:

![Dissmiss hero kingdom overview fh2 01](https://user-images.githubusercontent.com/43583994/104639643-f0897700-56a7-11eb-8685-252568169387.png)

https://user-images.githubusercontent.com/43583994/104639648-f2533a80-56a7-11eb-82c2-842bd68479d8.mp4

Related issue: https://github.com/ihhub/fheroes2/issues/2302.

[2021-01-14 19:46] Branikolog commented on #2594
Yes. Saw this bug, but couldn't reproduce for screenshot. :)

[2021-01-14 20:00] vincent-grosbois commented on #2594
The whole game is in undefined behavior anyway after this point, so graphic bugs are expected

[2021-01-14 20:12] Branikolog commented on #2596
My apologies. I've accidentally run older version.

[2021-01-14 20:12] #2596 closed

[2021-01-14 20:59] vincent-grosbois commented on #2594
I think there are also different issues depending on if you dismiss hero that had focus, and if you dismiss the last hero

[2021-01-14 23:11] vincent-grosbois opened #2598 "Not up-to-date focus in high resolution when changing focus in some windows"
You can see this when you do the following:
- put resolution in 1024*768 or above
- go to castle screen
- hire hero
- --> new Hero doesn't appear in the hero bar

Something similar in hero window:
- select hero
- change hero with arrows
- hero is not on focus in the hero bar
- (focus doesn't come back to the hero when you exit)

I think there must be other bugs, where basically the righ-side bar i

[2021-01-15 05:17] ihhub opened #2599 "Ubuntu packages should be packed with non-dev SDL scripts"
We ship Ubuntu packages with installation of development version of SDL (`script/linux/install_sdl_1.sh` and `script/linux/install_sdl_2.sh` files). We should provide scripts for **normal** version of SDL instead.

[2021-01-15 07:48] Branikolog commented on #2598
Hi, @vincent-grosbois.
Cannot say, it's a bug...
As original game doesn't support higher resolutions, the ability to watch GUI and World map surrounding windows mentioned above is the case appeared in fheroes2. So in fheroes2 it was implemented, that all the GUI of the game is not updated, while you perform any actions in the window.
Anyway, the idea is good and I hope game engine allows us to imp

[2021-01-15 07:50] Branikolog commented on #2598
Between, changing focus on exit the window, while switching castles or heroes with arrow buttons, while hero/castle window is open should be a separate issue, as we can easily fix it, i hope.

[2021-01-15 07:58] Branikolog opened #2600 "Combat screen, cannot cancel spell with esc button"
We should be able to cancel any spell after pressing esc button.

[2021-01-15 09:20] Branikolog opened #2601 "AI is stuck at coast and doesn't move"
AI is standing for a long period of time at once cell with one of his leading heroes.
![image](https://user-images.githubusercontent.com/55348946/104706212-ddb88600-572b-11eb-986f-be5d09d178e6.png)
[AI chilling on a beach.zip](https://github.com/ihhub/fheroes2/files/5819542/AI.chilling.on.a.beach.zip)

[2021-01-15 10:13] Branikolog opened #2602 "World map, path arrows have different length, while walking outside city"
In the original game the first green arrow is shorter
![image](https://user-images.githubusercontent.com/55348946/104712159-4b1be500-5733-11eb-9a68-67e980ae8ca6.png)
than in fheroes2:
![image](https://user-images.githubusercontent.com/55348946/104712216-58d16a80-5733-11eb-8983-dafe6bfc5c66.png)

[2021-01-15 15:06] LeHerosInconnu commented on #2602
Hello @Branikolog,

In the original game, the square at the entrance to the castle has the same movement penalty as the terrain under the castle entrance.

In your screen of the original game, the first arrow appears to be the length of the arrow of a move initiated on a snow square (175% penalty), so this is normal.
In your screen of fheroes2, the first arrow seems to have the length of the arrow

[2021-01-15 15:36] LeHerosInconnu commented on #2601
@Branikolog.

Yes, I also noticed that the AI often landed at places where they had no choice but to re-embark. :D

_Originally posted by @LeHerosInconnu in https://github.com/ihhub/fheroes2/issues/2158#issuecomment-721964233_

[2021-01-15 16:17] Branikolog commented on #2602
Hi, @LeHerosInconnu.
Thanks for your precision! Your experience is priceless!

[2021-01-15 16:25] Branikolog commented on #2601
But in my case he doesn't re-embark. :)

[2021-01-15 18:39] LeHerosInconnu commented on #2600
@Branikolog.

This is also on my list. :)

In the original game, this operating mode with the "ESC" key is already available; and it is also used to close windows with an "OKAY" button (when this button is the only one) and windows with a "CANCEL" button (as if the user pressed the "CANCEL" button).

I made a proposal to do it also with the mouse right click anywhere on the screen when a window is

[2021-01-15 21:14] dimag0g commented on #2559
@ihhub,

I have made another PR (#2611), let me know if you don't like something about it so I can fix it if necessary.

I expect to create a final PR in about 1 week, this time optimizing `system.h` and `settings.h`. I understand that a lot of units include those just to use the `DEBUG` macro.  My plan is to create a separate header (`logging.h`?) with just the logging functionality and include i

[2021-01-16 07:14] idshibanov commented on #2601
Tile passability rules issue. That boat is actually getting blocked by the mountain and Ruby can't embark/use that boat.

Fix will be probably in `Maps::Tiles::UpdatePassable` method, rule #8.

![image](https://user-images.githubusercontent.com/1373638/104805749-53f6d000-57a0-11eb-818c-ad9f2f33cbf6.png)

[2021-01-16 09:21] ihhub commented on #2475
Closing this issue as no work is required for it.

[2021-01-16 09:21] #2475 closed

[2021-01-16 12:02] Branikolog opened #2614 "Warlock castle screen, centaur cave is drawn, while only waterfall was set in editor"
When we have a city, where waterfall was built, but Cave was not, we can see the image of Cave on a rocks, which is unclickable.
![image](https://user-images.githubusercontent.com/55348946/104811314-9c97a300-580b-11eb-8c8b-36a43dd813a0.png)
![image](https://user-images.githubusercontent.com/55348946/104811316-a4574780-580b-11eb-8d6f-ad170f517d12.png)
This flaw is present in the OG.

[2021-01-16 12:52] Branikolog commented on #2601
What about this case? There's no rock close to the boat.
![image](https://user-images.githubusercontent.com/55348946/104812373-c30d0c80-5812-11eb-88de-fd7d7b41bbe3.png)

[2021-01-16 13:36] #2572 closed

[2021-01-16 14:00] ihhub commented on #2614
This is true for Magic Garden in Sorceress castle. It's a problem of original resources.

[2021-01-16 17:18] idshibanov commented on #2601
Same issue here, boat is actually blocked to use because it's near the bottom edge. Rule 7 of the same function. Our issue is that boat isn't considered an "action" object here because it's on water and can't be used from water. Edge case obviously that wasn't accounted for.

We have to review passability rules at some point, as this is something I did not touch yet. Original game logic is quite d

[2021-01-16 17:20] idshibanov commented on #2602
Small note that UI is actually fine here, it's movement penalty that is wrong.

[2021-01-16 17:22] idshibanov commented on #2498
Currently AI buys hero only at the start of the turn, have to add another check at the end after all moves.

[2021-01-16 21:17] Branikolog commented on #2601
I also noticed, that about a half of my saves has this flaw.
But in other part, when hero walks out of city we have penalty 75... Can't find out the root of this behaviour.

[2021-01-16 22:29] Branikolog commented on #2602
I also noticed, that about a half of my saves has this flaw.
But in other part, when hero walks out of city we have penalty 75... Can't find out the root of this behaviour.

[2021-01-17 00:50] #2576 closed

[2021-01-17 04:04] #1187 closed

[2021-01-17 04:04] #1268 closed

[2021-01-17 05:20] ihhub commented on #2046
Hi @LeHerosInconnu , could you please update this issue? I think I fixed everything except captain's position.

[2021-01-17 07:51] ihhub commented on #2490
Fix issue was fixed some time ago.

[2021-01-17 07:51] #2490 closed

[2021-01-17 07:55] #1610 closed

[2021-01-17 08:19] #1317 closed

[2021-01-17 13:06] #1469 closed

[2021-01-17 13:16] Branikolog opened #2621 ""Summon boat" spell operation"
Currently, "Summon boat" spell doesn't work the same, in most cases, to the original game.
I propose to make it working more predictable and understandable for users.
Here's a set of rules for this spell:
- Summon boat should always bring either the nearest neutral boat or boat was owned before by a current player, or built by a current player in shipyard.
- Any neutral boat, that was summoned by

[2021-01-17 13:49] #2595 closed

[2021-01-17 16:00] LeHerosInconnu opened #2622 "The program should remember whether it was in full-screen or windowed mode the last time the user exited the program"
When the user exits the program, the program should remember whether the game was in full-screen or windowed mode so that when the user restarts the program it is automatically in the same mode as when the user left it.
Basically, this should be updated in the game config file "fheroes2.cfg".

_Originally posted by @LeHerosInconnu in https://github.com/ihhub/fheroes2/discussions/2609_

[2021-01-17 16:09] LeHerosInconnu commented on #2046
Hello @ihhub,

Okay, I'll look at this in the course of next week.

[2021-01-17 16:58] LeHerosInconnu commented on #2621
Related issues: https://github.com/ihhub/fheroes2/issues/2175, https://github.com/ihhub/fheroes2/issues/2435.

[2021-01-18 09:01] Branikolog commented on #2470
[Path bug.zip](https://github.com/ihhub/fheroes2/files/5828980/Path.bug.zip)

[2021-01-18 13:48] #2470 closed

[2021-01-18 22:23] vincent-grosbois commented on #2621
Why do we need to introduce this notion of "boat owned by player X" ? Sounds weird
What's wrong with having the logic purely based on player position + boats positions ?

[2021-01-19 00:58] ihhub commented on #2455
Hi @dimag0g does this issue still present?

[2021-01-19 09:29] Branikolog commented on #2621
@vincent-grosbois
It's the original mechanics.
Imagine, that you've just built a boat in a castle. But you don't have enough movement points to reach it current turn.
Are you sure, that you want to allow other players summon your boat, while you've waiting your next turn? :D

[2021-01-19 11:26] Northfear commented on #2455
@ihhub it probably is, since emulate_mouse was removed altogether in https://github.com/ihhub/fheroes2/pull/2424 (it was mostly a part of WinCE)

[2021-01-19 12:51] Branikolog opened #2625 "A message, that player was defeated, appears only after AI turn is over"
During an AI turn, when player loses a hero, whose name is in scenario loss condition list,  the game doesn't stop, until AI turn is over.
A message, that the match is lost should appear at the moment hero was defeated or fled from a battle.
Also, hero list doesn't refresh currently, until player's turn starts. We need to show hero vanishing animation, delete his portrait from the hero list and th

[2021-01-19 12:56] Branikolog commented on #2625
Save file.
[Lose Hero.zip](https://github.com/ihhub/fheroes2/files/5835938/Lose.Hero.zip)

[2021-01-19 13:03] dimag0g commented on #2455
I think the issue is gone now since the `Cursor` constructor in `screen.h` activates SW rendering:

        Cursor()
            : _emulation( true )

[2021-01-19 13:08] dimag0g commented on #2455
The issue is gone now. Actually, the `Cursor` constructor in `screen.h` activates SW rendering, so if I understand this correctly, everyone is using emulated cursor now:

    Cursor()
        : _emulation( true )

You might want to default to non-emulated cursor though, cursor emulation is only really needed on specific platforms such as Nintendo Switch which don't have any system cursor.

[2021-01-19 16:08] LeHerosInconnu commented on #2046
Hello @ihhub,

fheroes2_windows_x64_SDL2 0.8.4 2626

All the elements seem to be in their correct position.
The Captain's position is also right in all the castles.

I updated the first post.

[2021-01-19 16:28] ihhub commented on #2046
Thanks @LeHerosInconnu ! Looks like only the entrance is incorrect. I'll fix that.

[2021-01-19 16:31] ihhub commented on #2455
Hi @dimag0g ,

`Cursor` is a base class for SDL 1 and SDL 2 implementations. If you check the implementation of `RenderCursor` class for SDL2 you could notice that we set this member into false state:
[code]

[2021-01-19 16:31] #2455 closed

[2021-01-19 17:27] LeHerosInconnu opened #2627 "Kingdom Overview, strange behavior in the Kingdom Overview by left clicking on the castle graphic"
In fheroes2, there is a strange behavior in the Kingdom Overview by left clicking on the castle graphic.
Unrelated windows are displayed.

In fheroes2:

![Strange behavior castle graphic 01](https://user-images.githubusercontent.com/43583994/105070499-b04d3e80-5a83-11eb-9a98-446e357de85d.png)

![Strange behavior castle graphic 02](https://user-images.githubusercontent.com/43583994/105070508-b2af98

[2021-01-19 18:49] Branikolog opened #2628 "Game shouldn't allow to move troops of an unhired hero in tavern"
Currently we can freely reorganise army of heroes in tavern.
![image](https://user-images.githubusercontent.com/55348946/105079216-2c557f80-5aa0-11eb-8de1-e1267ec1d4fd.png)

[2021-01-20 08:57] dimag0g commented on #2455
@ihhub, you're right. The emulation seems to be enabled when a new game controller is connected or open.

[2021-01-20 15:18] #2046 closed

[2021-01-20 15:46] #789 closed

[2021-01-20 15:56] #1426 closed

[2021-01-20 17:45] LeHerosInconnu commented on #789
Hello @idshibanov and @Branikolog,

This is how the Mirror Image spell works in the original game:
- The mirror troop is destroyed if it takes physical damage or magic damage.
- If the original troop is decimated, the mirror troop is destroyed as well.
- If positive or negative spells were already active on the original troop before the mirror spell was cast, they are not carried over to the mirro

[2021-01-21 08:14] Branikolog opened #2642 "Adventure map, hero turning animation is too fast and doesn't seem affected by movement speed set"
In fheroes2 hero always turns too fast, while in the OG on low hero movement speed this animation is quite slow.
Also, I've noticed, that this animation speed doesn't changes (or almost the same) at any hero speed we've set.
![image](https://user-images.githubusercontent.com/55348946/105322276-b1907f80-5bd9-11eb-8626-df219293393b.png)

[2021-01-21 09:01] Branikolog commented on #1017
Currently, berserk doesn't work as it supposed to. Enemy creatures don't want to attack allies and AI continues to attack player's creatures.

[2021-01-21 09:44] ihhub commented on #2559
Hi @dimag0g ,

My apoligies for a late response. Putting the code into logging.h is a great idea for decoupling the code. However, let's proceed with no `WITH_LOGFILE` flag for now. Having already many flags is troublesome for maintainance. We could always identify the platform and set just empty macros for it. Also since we're change it please rename `ERROR` macro to something similar as such mac

[2021-01-21 14:02] ihhub commented on #973
Hi @Branikolog , could you please update this issue?

[2021-01-21 14:06] tau3 commented on #2249
looks like the problem is wihin `void Battle::Arena::TurnTroop( Unit * current_troop )`: on Berserker spell a troop is marked as `CONTROL_AI` and `AI::Get().BattleTurn( *this, *current_troop, actions )` actually just ends turn (probably some smarter AI action like move + attack is required)

[2021-01-21 14:50] Branikolog commented on #973
@ihhub
OK, I'll take a look at a current state of this problem in a few hours.

[2021-01-21 15:57] #2327 closed

[2021-01-21 15:57] #537 closed

[2021-01-21 15:57] #840 closed

[2021-01-21 16:46] #1017 closed

[2021-01-21 16:46] #2249 closed

[2021-01-21 16:53] vincent-grosbois commented on #1300
Just to understand, what is the normal behavior? it is supposed to be cumulated?

[2021-01-21 17:11] LeHerosInconnu commented on #1300
Hello @vincent-grosbois,

In the original game, for Moral and Luck, the same artifact is taken into account only once.

In fheroes2, there is an option that allows to have the same functioning back, but the option is not activated by default.

In fheroes2, when this option is not activated, the text has to be changed to correspond to the accumulation of the same artifact.
For example, if the hero

[2021-01-21 17:25] vincent-grosbois commented on #1300
I see, but is it a bug that it's not activated by default?
Another possibility would be that the option is "allow duplicate effect for artifacts" and it's disabled by default

[2021-01-21 17:29] vincent-grosbois commented on #1300
Also, for putting the plural in the text box, I really think it's not possible unless there is a huge refacto etc.
It's possible to do something like "Medal of Valor (x2) +4" though

[2021-01-21 17:48] LeHerosInconnu commented on #1300
@vincent-grosbois.

Yes, kind of. :)

Yes, that would be better. :)
It's also on my list of things to change in the "Experimental Game Settings" window.
There are also many other things to change in that window.
But this window is "temporary", and should be improved later.

For operation comparable to the original game, this option should be renamed "world: several copies of the same artifact are

[2021-01-21 17:57] LeHerosInconnu commented on #1300
@vincent-grosbois.

If it takes too much time, your solution may be suitable for now, but with "+2" in the case of the two "Medal of Valor" artifacts. :)

So "Medal of Valor (x2) +2" or "Medal of Valor (2) +2" (without "x").

[2021-01-21 18:14] LeHerosInconnu commented on #1300
I've changed the title of the issue and the first post for a better concordance.

[2021-01-22 06:34] manyilov opened #2645 "When last hero gets attacked and killed by AI, game doesn't abort but shows enemy movements endlessly instead"
http://s000.tinyupload.com/?file_id=54072317713347754541

1. Open linked save file.
2. End turn.
3. Last hero gets attacked. Let the hero lose the battle.

Result: Game shows enemies' movements endlessly.
Expected: Game aborts since player has no castles or heroes left.

Tested on MacOS

--
GREAT project otherwise, thank you for your work!

[2021-01-22 06:35] ihhub commented on #2645
Hi @manyilov , could you please specify a version which you use? Is it a latest builf from master branch or one of builds from releases?

[2021-01-22 06:40] manyilov commented on #2645
According to changelog.txt, I am using version 0.8.4 (23 December 2020) on MacOS High Sierra. Didn't compile or build anything myself, just downloaded fheroes2_osx_sdl2.zip and ran the scripts.

[2021-01-22 06:55] ihhub commented on #2645
We fixed this issue recently so the upcoming release will include it.

@Branikolog could you please verify it on the latest build?

[2021-01-22 06:59] Branikolog commented on #2645
@ihhub .
OK. Give me 30 minutes, I'll check, if this issue is valid.

[2021-01-22 07:32] Branikolog commented on #2645
Bug confirmed.
But it looks kind of a cool feature. We can watch an ultimate AI battle without playing by ourselves. :D

[2021-01-22 08:22] Branikolog opened #2646 "Hero cannot run away from battle when player lost all his towns"
When player has no castles or towns he cannot run away from a battle.
But still can surrender.
In the OG hero can run away and surrender in this case.
![image](https://user-images.githubusercontent.com/55348946/105464708-077d2a00-5ca3-11eb-8919-36edc9269ed7.png)
Also, in the OG hero cannot surrender, when he attacks a city without hero inside. Even if there's a captain bult.
In fheroes2 he can sur

[2021-01-22 10:35] Branikolog commented on #1944
Hi, @LeHerosInconnu
I also find a weird UA location case on a map, I've created.
The only free space is placed too close to world map edge. And the game decided to place UA over the existing hole on a distant island.
![image](https://user-images.githubusercontent.com/55348946/105479339-65b30880-5cb5-11eb-80ab-a593d24e535c.png)
![image](https://user-images.githubusercontent.com/55348946/105479368-6

[2021-01-22 11:07] Branikolog opened #2647 "A message that enemy player was vanished appears the wrong day"
Here's a map, where I've placed one enemy hero on a separate island without a castle.
We can see a message, that player was vanished only the second day of the next week.
While in the OG we see this message on the first day of the next week.
![image](https://user-images.githubusercontent.com/55348946/105483258-a19c9c80-5cba-11eb-8008-fd9b4a0c2a8c.png)
[Map_0081.zip](https://github.com/ihhub/fheroe

[2021-01-22 11:37] Branikolog opened #2648 "Game doesn't run main menu music theme when we load game"
Only in multiplayer hot seat mode.
When we press load game, while playing at the adventure map and return to main menu we still continue hearing music from the adventure map until we cancel loading or enter the list of savegames.
![image](https://user-images.githubusercontent.com/55348946/105485902-a5cab900-5cbe-11eb-9650-76ece4826f0e.png)

[2021-01-22 11:40] Branikolog commented on #2496
I've just found out, that issue happens also at the case of starting new game and then loading savefile and at the case of loading single player savefile and then multiplayer file.
I believe that would happen, when we load campaign savefiles as well.

[2021-01-22 14:52] ihhub commented on #1470
Hi @LeHerosInconnu , could you please retest this issue? I remember we fixed Necromancy related window information recently.

[2021-01-22 14:55] ihhub commented on #2304
Hi @Branikolog , could you please retest this issue as we fixed building animation recently.

[2021-01-22 18:21] vincent-grosbois commented on #1470
Isn't this the same as #1469 ? What's the difference?

[2021-01-22 18:54] LeHerosInconnu commented on #1470
Hello @ihhub and @vincent-grosbois,

Everything seems to work as in the original game.
But I just realized that there is a bug in the original game. :)
The maximum percentage of resurrected Skeletons is only 90% when it should be 100%.

30% for the secondary skill Necromancy expert level.
60% maximum for Shrines built in the Necromancer's castles (maximum of 6 Shrines taken into account).
10% for

[2021-01-22 19:33] LeHerosInconnu commented on #1944
Hello @Branikolog,

Apparently, fheroes2 always chooses the first available spot relative to the map coordinates (0,0 in the upper left corner).
It should not be the case.

On any place, distant from the edges enough.
River first (or other objects of the same category (decorations but accessible)), digging hole next (to avoid misleading the player as much as possible), free space behind object las

[2021-01-22 20:03] vincent-grosbois commented on #1470
I'm not even sure it's a bug, it's could be just a cap for the maximum

[2021-01-22 20:10] LeHerosInconnu commented on #1470
@vincent-grosbois.

Clearly, with the limitation of the 6 Shrines (60%) and the possibility of the 10% from the Spade of Necromancy, their intention was to allow the 100% resurrection, which is logical.
But something went wrong.

[2021-01-22 20:39] Branikolog commented on #2304
@ihhub
Well done. The problem is gone!

[2021-01-22 20:39] #2304 closed

[2021-01-23 08:54] #883 closed

[2021-01-23 12:35] Branikolog opened #2652 "The scrollbar of marketplace should be divided into segments according to the quantity of maximum resources"
The bar after dragging and releasing it should be sticked to the certain areas, where integer number of resources is shown.
Currently, if we drag the bar and stop it right before the place, where the resource number is raised, it doesn't add the resource till we reach the exact area.
In the example below, we're trading 5000k for one resource. But we should place the bar at the exact position in or

[2021-01-23 12:45] ihhub commented on #1272
Hi @LeHerosInconnu , I removed these options since they don't work:
- hero: allow banned sec. skills upgrade
- battle: high objects are an obstacle for archers

[2021-01-23 12:47] Branikolog commented on #891
Cannot reproduce the bug anymore.
It should have been fixed by our glorious team already!

[2021-01-23 12:47] #891 closed

[2021-01-23 12:53] #1459 closed

[2021-01-23 12:53] #1460 closed

[2021-01-23 13:42] #2648 closed

[2021-01-23 14:58] Branikolog opened #2654 "Adventure map, joining creature window with no marketplace built"
If we don't have any marketplace we can still press the place, where the button is supposed to be and enter exchange window.
But we still cannot trade resources.
![image](https://user-images.githubusercontent.com/55348946/105595205-6d050f80-5da4-11eb-8e18-16b15f8f98ff.png)
![image](https://user-images.githubusercontent.com/55348946/105595561-8443fd00-5da4-11eb-8df9-31f17b5d4081.png)
![image](https

[2021-01-23 15:21] Branikolog opened #2656 "Main menu should remember difficulty while restarting"
If we choose scenario options when starting new game, we have the same ones, while restarting. Except difficulty. It is always set "Normal"
Game should remember difficulty,
![image](https://user-images.githubusercontent.com/55348946/105605963-b145df00-5da7-11eb-9052-10cc6d6d5a8d.png)

[2021-01-23 17:06] LeHerosInconnu commented on #1272
Hello @ihhub,

First post updated.

[2021-01-23 17:10] LeHerosInconnu commented on #2656
Hello @Branikolog,

Ah, that was on my list, thank you. :)

[2021-01-23 17:12] LeHerosInconnu commented on #2654
@Branikolog.

Good catch. :)

[2021-01-23 17:15] LeHerosInconnu commented on #2652
@Branikolog.

Yes, that would be nice.

[2021-01-23 17:33] vincent-grosbois commented on #2654
it's a regression from what I changed recently in this window I think

[2021-01-23 17:43] Branikolog commented on #2654
@LeHerosInconnu

Actually, I didn't know, how could I find this bug.)

[2021-01-23 17:46] Branikolog commented on #2656
@LeHerosInconnu
Welcome!
Now you have more time to post the rest of your list. ;)

[2021-01-24 06:17] #2575 closed

[2021-01-24 08:47] kant2002 commented on #2501
![image](https://user-images.githubusercontent.com/4257079/105625322-8fedfd00-5e52-11eb-96ba-5a5566a9d9ef.png)

If implement with alignment of dates on left side, then one character is eats up. Look at the "May 24, 22:29" this looks like longest date which can be here.

[2021-01-24 09:02] Branikolog commented on #2501
Hummm.
I personally don't like both variants. :(
In the first case we have months that are not vertically aligned from the left side.
In the second case, made by @kant2002, we have time, that is not aligned vertically from the right side...
I propose to separate the days from the time. And then align time to the right edge and days+month to the line, where the widest month+day starts...

[2021-01-24 09:37] kant2002 commented on #2501
1. Align day/month left. Align time left. Original file name length ![image](https://user-images.githubusercontent.com/4257079/105626158-55875e80-5e58-11eb-9012-48f5a9ae3e10.png)
2. Align day/month left. Align time left. Filename length -1 character
![image](https://user-images.githubusercontent.com/4257079/105626214-88315700-5e58-11eb-9561-7fc440027ae1.png)
3. Align day/month left. Align time rig

[2021-01-24 10:29] Branikolog commented on #2501
@kant2002

Thanks for introducing so many possible variations! :)

Agree with you.
Originally heroes 2 don't have date/time in this list. It was an enhancement of fheroes2 project. Which I really like. Even sacrificing the length of file name...
But now it becomes even shorter... I'm afraid not everyone in our team would like and accept to cut it more....
At the same time, I believe lots of player

[2021-01-24 11:34] Branikolog commented on #1154
I think, we should delete switching good/evil code in CONFIG menu. It is really not necessary to have this option in two places in GUI.
Currently, switching good/evil interfaces is working correctly via "System Options" menu.

[2021-01-24 11:47] Branikolog opened #2664 "System Options, sound effects appear only after switching heroes or towns"
When we have "Sound effects" set to 0 and raise level or just select any volume number going through 0, we cannot hear sounds surrounding hero/town until we switch hero/town to other one.
Here we can hear all sounds:
![image](https://user-images.githubusercontent.com/55348946/105629226-c88dd680-5e52-11eb-9605-02a2b9753b74.png)
Now, it's silence. Sounds are switched off:
![image](https://user-image

[2021-01-24 12:03] Branikolog commented on #1185
It happens, when "only the first monster will attack(H2 bug)" option is switched off

[2021-01-24 14:20] Branikolog commented on #1277
@LeHerosInconnu
I still couldn't reproduce this bug.
Could you, please, check it occasionally? It could be fixed by one of our previous PR, if it actually was. ) I think, we can close it the nearest time..

[2021-01-24 14:59] #2600 closed

[2021-01-24 17:52] LeHerosInconnu commented on #2501
Hello @Branikolog and @kant2002,

For me, the date and time are not necessary.
The file name alone and a sorting according to the last saved file would be sufficient (the last saved file is always at the top of the list). (https://github.com/ihhub/fheroes2/issues/1211)

The month can also be displayed numerically: "05 24, 22:29" instead of "May 24, 22:29".

So this one, with month displayed numeri

[2021-01-24 18:03] LeHerosInconnu commented on #1277
@Branikolog.

I did a quick test, it seems to work fine.
I think we can close the issue.
It will always be possible to report the bug if it appears again. :)

[2021-01-24 18:38] LeHerosInconnu commented on #1142
@Branikolog.

The "world: only the first monster will attack (H2 bug)." option is bugged. (https://github.com/ihhub/fheroes2/issues/1272)

Also the behavior of the creatures when a hero teleports near a wandering troop with the Dimension Door spell has been corrected to work as in the original game. (https://github.com/ihhub/fheroes2/pull/2350)

So the creature sprite should no longer change its s

[2021-01-24 18:57] Branikolog commented on #1142
@LeHerosInconnu
It seems to me, that recently creatures didn't attack hero out of Dimension Door, while option was turned on, and attacked, while switching off the option you mention above.
Anyway, as we're heading to original gameplay, we need to make the game working properly and even take away this option for some time, as I cannot tell anymone what and how should it change.

[2021-01-24 19:05] LeHerosInconnu commented on #1154
@Branikolog.

Yes, I will even say these three options can be removed from the "Experimental Game Settings" window (https://github.com/ihhub/fheroes2/issues/1272) as they are redundant in the GUI:
- "game: use evil interface"
- "game: also use dynamic interface for castles"
- "game: hide interface"

[2021-01-24 19:25] LeHerosInconnu commented on #1142
@Branikolog.

In the original game, in the example, only one wandering troop attacks the hero.
In fheroes2, the "world: only the first monster will attack (H2 bug)." option must be enabled to work as in the original game, otherwise both troops attack.

That's why I think fheroes2 is buggy and this "option" is a fix.

In the original game:

![Attack adjacent troop H2 01](https://user-images.githubu

[2021-01-24 21:34] vincent-grosbois commented on #51
I can have a look, it seems it's enough to just inject the status bar pointer in the magic book window and tell it to draw the status

[2021-01-25 02:37] ihhub commented on #51
Hi @vincent-grosbois , you're right. I think text object has background restore function so it should be easy to implement. I assigned it to you.

[2021-01-25 07:52] #1277 closed

[2021-01-25 10:00] Branikolog commented on #1336
Hi, @LeHerosInconnu
I think, this issue is a particular case of #2497 issue.
Can we close this issue, as we have more detailed one?

[2021-01-25 10:10] #2465 closed

[2021-01-25 10:19] ihhub commented on #2501
Hi, everyone.

Using digits for months might be a bad idea as we need to keep in mind that 02/03 date could be interpret by european standards as 02 March while in USA it is 3rd of February.

I personally prefer version 4 as it's visually more pleasant. I recommend every one, including @kant2002 vote for one of proposed solutions or keep it as it is.

[2021-01-25 10:25] Branikolog opened #2667 "Battle screen, rock on a beach has wrong passability area"
In fheroes2 such kind of rock has two inactive hexes to the right of it.
![image](https://user-images.githubusercontent.com/55348946/105693208-862acf00-5f10-11eb-8495-a3ed873d6c99.png)
While in the OG:
![image](https://user-images.githubusercontent.com/55348946/105693155-757a5900-5f10-11eb-9378-ec7888dd7de2.png)

[2021-01-25 11:28] Branikolog commented on #2501
@ihhub
I agree with you, as aligning date to the right reduces the gap between date and time, which can be significant, if we have short month name and 1 day...
But also I like aligning time to the right or to the left not very much... I think , aligning time regarding to the " : " will make that column more or less eye-friendly.
So I vote for 4 variant, but with time centered in a column, where c

[2021-01-25 12:39] Branikolog commented on #1683
@LeHerosInconnu
I've noticed, that numbers are shifted horizontally not only for att and def.
I suppose shifted are the numbers themselves, as I found that for Spellpower and Knowledge number "2" is shifted as well...
fheroes2:
![image](https://user-images.githubusercontent.com/55348946/105707015-5cc76e80-5f23-11eb-8f72-46520c19cc79.png)
Original game:
![91639210-a9168d00-ea1d-11ea-9854-8870fcf219

[2021-01-25 13:13] eos428 opened #2668 "Spell and Select Faction as Campaign Scenario Bonus Choices"
Currently, campaign scenarios where the bonus choices are supposed to be select faction (which is Knight/Wizard/Sorc for good campaign and Barb/Warlock/Necro for evil) are not present.

This causes an issue where you'll start with Warlock castles in good campaigns, and in the actual evil campaigns, you'd probably be locked to them.

Also, there's another bonus type where the main hero would get th

[2021-01-25 13:42] eos428 opened #2670 "Campaign Awards"
Another feature related to campaign that we haven't implemented yet in campaign awards.

So far I have identified these types:
- Creature Bane: Causes all neutral stacks of the troop type to run away from you
- Creature alliance: Causes all neutral stacks of the troop type to join you
- Get artifact: Artifact will be present on strongest hero's inventory
- Carryover troops: Strongest hero with all

[2021-01-25 13:45] vincent-grosbois commented on #2670
https://gamefaqs.gamespot.com/pc/932491-heroes-of-might-and-magic-ii-gold/faqs/77670/campaign-awards-guide

[2021-01-25 13:58] ihhub commented on #1235
Hi @LeHerosInconnu , please update the description in the first message. I remember that we agreed to keep the location of these winows in the middle of the screen.

[2021-01-25 14:00] vincent-grosbois commented on #2670
It seems you got all of them, except "+2 wood / day". BTW this isn't even something that is implemented in the game anyway

[2021-01-25 14:05] ihhub commented on #2670
Hi @eos428 , I think we have similar topic for this #2382.

[2021-01-25 14:19] eos428 commented on #2670
@vincent-grosbois Wow some of these bonuses are a bit weird... Wayward son is going to be a headache to implement :D

@ihhub #2382 seems to be closer to #2668 now that I think about it since it's about the bonus choices. We can probably consider the former as a sub-issue of the latter. #2668 is about the implementation, #2382 is more or less the about applying them in each individual scenarios.

[2021-01-25 14:26] #2392 closed

[2021-01-25 14:38] Branikolog opened #2671 "Split logic, ability to transfer the whole stack divided into two"
Currently, Thanks to @eos428, we have a nice and comfortable splitting of creatures.
I've noticed, that there was implemented a useful splitting of one stack into 3/4/5 and transferring them all to an other hero while meeting or while transferring to/from city garrison:
![image](https://user-images.githubusercontent.com/55348946/105719587-812b4700-5f33-11eb-97e8-f6adca3045d1.png)
![image](https://

[2021-01-25 14:51] kant2002 commented on #2501
I would vote for Variant 7 where
6. Align day/month right. Align hours right (end with colon). Align minutes right. File name length - 1 character.
![image](https://user-images.githubusercontent.com/4257079/105721284-995c8f80-5f4e-11eb-90d0-52958446c24a.png)
7. Align day/month right. Align hours right (end with colon). Align minutes left. File name length - 1 character.
![image](https://user-image

[2021-01-25 15:11] Branikolog commented on #2501
@kant2002
7 option is what I was talking about. :)
In my opinion 7 is the most compacted and at the same time we have two separate information columns (With date and time) which are easily distinguished.

[2021-01-25 15:21] ihhub commented on #2501
Option **7** is definitely the best one.

[2021-01-25 16:15] LeHerosInconnu commented on #1683
Hello @Branikolog,

Indeed, thank you, I added it in the first post. :)

[2021-01-25 16:19] Branikolog commented on #1683
@LeHerosInconnu
I'm not sure, but could other numbers be shifted as well?
Could you, please, check, if this issue is only for "2"?

[2021-01-25 16:19] LeHerosInconnu commented on #1336
@Branikolog.

Yes, it's done.

[2021-01-25 16:19] #1336 closed

[2021-01-25 16:53] LeHerosInconnu commented on #1235
Hello @ihhub,

All remarks are still valid, and yes, the window has to remain centered in the screen.

[2021-01-25 17:15] LeHerosInconnu commented on #2501
Thank you @kant2002 for all the visuals of these variants. :)

I also vote for version 7 which seems clearer and more pleasing to the eyes. :)

[2021-01-25 17:59] LeHerosInconnu commented on #1683
@Branikolog.

So I tested up to "11".

The number "4" is the only one that is not shifted.
For "10" and "11" the number "1" of the tens is shifted, not the number of the units, but it must also be taken into account that the spacing between the letters of the font is not the same as in the original game.

[2021-01-25 18:10] vincent-grosbois commented on #2670
@eos428
The bonus about new heroes appearing is a totally new thing to implement IMO
Some remarks / question about this:
- I don't even know how we support "custom" heroes like this, for now all I see in the code are hardcoded heroes in the c++ code
- we have to make sure these heroes you get awarded are not available in all other map types, and that they can't be hired by the enemy if we don't hi

[2021-01-25 18:11] vincent-grosbois commented on #2382
For award list : https://gamefaqs.gamespot.com/pc/932491-heroes-of-might-and-magic-ii-gold/faqs/77670/campaign-awards-guide

[2021-01-25 18:18] vincent-grosbois commented on #1470
I can cap it at 100%, it's literally a change of 2 characters
But I'm not sure it was really intended.
Anyway it doesn't change much, I'll change it

[2021-01-25 18:26] LeHerosInconnu commented on #2671
@Branikolog.

Would your proposal not fit into this issue? (https://github.com/ihhub/fheroes2/issues/2386)

[2021-01-25 18:34] LeHerosInconnu commented on #1470
Hello @vincent-grosbois,

I think it's okay.

I can understand the limitation to 100% because it allows for no more skeletons to be raised than decimated creatures.
But I can't find a reason for the 90% limit. :)

[2021-01-25 20:20] Branikolog commented on #1683
@LeHerosInconnu
Oh, thanks a lot for your investigation!
I believe, that would help to fix the bug sooner. ;)

[2021-01-26 07:01] Branikolog commented on #1470
@LeHerosInconnu
It can be a minor limitation to prevent necromancers be overpowered. ;)

[2021-01-26 08:15] Branikolog commented on #1683
@LeHerosInconnu

And "1" I suppose?

[2021-01-26 10:13] Branikolog commented on #2671
Hi, @LeHerosInconnu !
Actually, I forgot, about that discussion. :)
I've made current improvement-issue just because recent PR made splitting a little bit confusing, as we can split to garrison current troops from hero's army (through a normal splitting dialog), but at the same time, fast split buttons work in different manner: they transfer the whole splitted stack and divide it into 3/4/5 stacks

[2021-01-26 11:05] #2302 closed

[2021-01-26 11:05] #2594 closed

[2021-01-26 11:11] #1470 closed

[2021-01-26 11:44] Branikolog commented on #2386
In this case we can leave current logic as it is: we split one troop stack over the same type other troop stack, watch normal splitting window, where we can choose the exact number of transferring creatures. Also, here we can add "2" button, so we divide the quantity of creatures in both stacks together into 2 same parts.
For fast uniting multiple(>2) troops into one we are going (or even already)

[2021-01-26 13:21] #2501 closed

[2021-01-26 17:09] LeHerosInconnu commented on #1683
@Branikolog.

And the number "1" yes of course.

[2021-01-26 17:32] vincent-grosbois commented on #2159
If I understand, it's said in #1434 that it is intentional ?

[2021-01-26 17:42] LeHerosInconnu commented on #2159
Hello @vincent-grosbois,

Yes, this was done intentionally in fheroes2.
Here is another case to show that this different mode of operation from the original game causes annoying problems for the player by diminishing the visibility of the original game. :)

[2021-01-26 17:45] vincent-grosbois commented on #2159
Ok I see
In that case, what do we do with this ? this is marked as 0.9 , but I'm not sure I can do anything for this issue

[2021-01-26 17:57] LeHerosInconnu commented on #2159
@vincent-grosbois.

A discussion would be planned for this.
For the time being, it would be necessary to know if this is considered urgent.
So, @ihhub and @Branikolog is this urgent?

For my part, I vote for an operation as in the original game.
Every square that is uncovered counts and this may change the strategy to be adopted. :)

[2021-01-26 18:15] Branikolog commented on #2159
Hello, @vincent-grosbois  and @LeHerosInconnu !
The nearest release is AI/logic oriented. I believe, we can postpone this issue a little bit, so we can more deeply discuss here the problem and the solition.)
But the last word is for @ihhub, surely. :)

On subject:
I really don't understand, why do we have such hexagon-like shape of area. Why couldn't we make it more round-shaped? Can we make a com

[2021-01-26 20:15] LeHerosInconnu commented on #2671
@Branikolog.

The problem with the way it works now is that it works differently if the separation is in the hero's army, or from the hero's army to the garrison or army of another hero.
This is not good.
It must always work the same way.

In the case presented, the player should first transfer the troop from the hero's army to the garrison and only then separate the troop in the garrison.

Also a

[2021-01-26 20:16] LeHerosInconnu commented on #2386
@Branikolog.

It has to be simple and easy.

Reorganize a troop into several troops:
- Select the starting troop.
- Select an empty destination slot.
- Select the desired number of groups.
- The number of creatures in the starting group is distributed evenly in the number of groups indicated.

Reorganize the creatures of two troops:
- Select the starting troop.
- Select another troop of the same t

[2021-01-26 20:23] LeHerosInconnu commented on #2159
Heroes 2 players are used to it working this way:

![Hero revealed area H2 01](https://user-images.githubusercontent.com/43583994/97813418-6c1e7f00-1c88-11eb-8cf5-13d4c41985ae.png)

Why change that?
Not to mention all the scenarios created with the game's original mode of operation.

[2021-01-27 02:53] #2417 closed

[2021-01-27 03:29] ihhub commented on #2159
Reveal area should be the same as in the original game as it's closer to circle shape and old maps depend on this shape. This is the method `void Maps::ClearFog( s32 index, int scoute, int color )` which should be modified.

[2021-01-27 07:33] Branikolog commented on #2671
This should be definitely be an issue!

Regarding current split logic:
Actually, I like this implementation as well as the default one.
One I tried to split troops into garrison or second hero army I noticed, that it works in a different manner, but I understand the rules and accept them. Remember, that here we're creating a new content, so prayers would have to get acquainted. ;)

Splitting betwe

[2021-01-27 07:51] Branikolog commented on #2386
In my personal opinion, the case, when we have two stacks of creatures of the same type and want them be equalized happens more frequently. That's why I want the default state of splitting one stack over another be equalizing.

[2021-01-27 09:00] eos428 commented on #2671
Hi @Branikolog @LeHerosInconnu, it's true that cross-army drag split isn't working at the moment. It was one of the pending split issues that I haven't gotten to yet because of the scale of the work. I think we already had an issue for it?

Regarding the "2" slot in fast split, I'd be fine whether it's implemented or not but if we do, I think it should be usable for both cross-army split and other

[2021-01-27 09:05] Branikolog commented on #973
Well, "Lightning" spell works quite good currently...
Lightning itself looks a bit different, but I like it more, than in original..
Original:
![Lightning original](https://user-images.githubusercontent.com/55348946/105967875-696cd380-6097-11eb-8c20-166d2775c4c1.png)
fheroes2:
![Lightning 2](https://user-images.githubusercontent.com/55348946/105967916-75f12c00-6097-11eb-92c8-be2cafb0962e.png)
Prob

[2021-01-27 09:15] Branikolog commented on #2671
Hi, @eos428
Yes, we have an issue: #2389.
Regarding "2" we're both agreed on implementing it.
Currently we're debating, should it always work the same, or the way it is implemented currently, with a slight different logic in cross-army cases.

[2021-01-27 10:50] Branikolog opened #2677 "Battle screen, area-based spells vs Anti-Magic"
Spell area shouldn't include creatures, which have "Anti-Magic" spell upon them.
![image](https://user-images.githubusercontent.com/55348946/105980951-8d83e100-60a6-11eb-93ef-d3f947139925.png)

[2021-01-27 12:25] Branikolog opened #2679 "Split logic, cancel highlighted troop while using Alt/Ctrl"
![image](https://user-images.githubusercontent.com/55348946/105990751-fe7dc580-60b3-11eb-85c1-15fc439b4bcb.png)
I think, we need to cancel highlighting of the troop, if we previously selected it, and then start splitting/uniting activity.

[2021-01-27 18:22] LeHerosInconnu commented on #2386
Hello @Branikolog,

In the original game, when the player performs this action, the indicator for the number of creatures indicates "0".
Heroes 2 players are used to this mode of operation.

In original game:

![Reorganize troops H2 01](https://user-images.githubusercontent.com/43583994/106034477-406a3400-60d3-11eb-92da-3b4c36e421c6.png)

In this case, I think it would be better to add a small but

[2021-01-27 19:48] LeHerosInconnu commented on #2671
@Branikolog and @eos428.

It is important that it always works the same way.

I have a suggestion to allow the other way of working.

To allow the troop to be transferred completely and distributed to several troops at the same time, a button "A" (meaning "All") is added.
By default this button is not activated, which allows standard operation.
This button has two states, activated and non-activat

[2021-01-27 20:32] LeHerosInconnu opened #2681 "Reorganization of troops using "CTRL" and "ALT" keys does not work when the hero screen is open from the meeting screen"
In fheroes2, the reorganization of troops using "CTRL" and "ALT" keys does not work when the hero screen is open from the meeting screen.

In fheroes2:

https://user-images.githubusercontent.com/43583994/106049873-ee330e00-60e6-11eb-8071-e01d9a5d65c2.mp4

[2021-01-27 21:04] LeHerosInconnu opened #2682 "In the hero screen and in the meeting screen the use of the "ALT" key for troop reorganization does not always work correctly"
In fheroes2, in the hero screen and in the meeting screen the use of the "ALT" key for troop reorganization does not always work correctly.

Select the troop to be reorganized.
Press and hold the "CTRL" key.
Click several times on the starting troop.
Release the "CTRL" key.
Move the mouse cursor over one of the troops of 1 creature.
Press and hold the "ALT" key.
Click on the 1 creature troop witho

[2021-01-27 21:20] LeHerosInconnu opened #2683 "Creature separation window, spacing between the buttons of the number of troops to be separated is not identical"
In fheroes 2, the spacing between the buttons of the number of troops to be separated is not identical.

There is a spacing of 10 pixels between button "3" and button "4", and the spacing is only 9 pixels between button "4" and button "5".
The spacing between the buttons should always be 10 pixels.

In fheroes2:

![Separation slots fh2 avec boutons 3 4 5 01](https://user-images.githubusercontent.c

[2021-01-27 22:15] LeHerosInconnu opened #2685 "Display problem when the player moves the troops of a newly recruited hero quickly"
In fheroes2, there is a display problem when the player moves the troops of a newly recruited hero quickly.

In fheroes2:

https://user-images.githubusercontent.com/43583994/106060882-eed2a100-60f4-11eb-9b56-cdf9b3ed60dc.mp4

https://user-images.githubusercontent.com/43583994/106060909-f3975500-60f4-11eb-8794-146b846fb830.mp4

https://user-images.githubusercontent.com/43583994/106060925-f7c37280-6

[2021-01-28 08:25] Branikolog commented on #2667
The problem is deeper a bit. Hardly ever I catch some of the objects on beach have more unreachable area, than they should.
![image](https://user-images.githubusercontent.com/55348946/106110152-689d7580-615b-11eb-803c-06523cb03fa8.png)
![image](https://user-images.githubusercontent.com/55348946/106110169-6dfac000-615b-11eb-81ba-686b9c343165.png)
I believe these are the rare cases, when some object

[2021-01-28 08:57] Branikolog commented on #2682
I believe, this issue will be gone, when we fix another issue: #2679.

[2021-01-28 11:11] Branikolog opened #2691 "Main menu, loading game from the adventure map"
When we press fast load game button "L", we return to main menu into load game type selection:
![image](https://user-images.githubusercontent.com/55348946/106130256-2f243480-6172-11eb-9254-84ec3ea7178f.png)
But when we press "Load game" button in "file options" menu, we return to file list:
![image](https://user-images.githubusercontent.com/55348946/106130388-5418a780-6172-11eb-9bb0-7e6bfb5fc680.p

[2021-01-28 12:55] ihhub commented on #1941
Closing this issue as it was fixed few days ago.

[2021-01-28 12:55] #1941 closed

[2021-01-28 12:59] #1465 closed

[2021-01-28 13:00] ihhub commented on #1595
Hi @LeHerosInconnu and @Branikolog , I swapped numbers in this window as eveyone agrees on this. I'm moving this issue for 1.0 release as we need to have a proper solution for this button.

[2021-01-28 13:36] ihhub commented on #1976
We need a proper list what should be changed in this issue description.

[2021-01-28 13:59] #2685 closed

[2021-01-28 14:12] #725 closed

[2021-01-28 16:15] #2481 closed

[2021-01-28 17:08] viy2 commented on #2481
thanks!

[2021-01-30 13:59] #2646 closed

[2021-01-30 15:04] #2654 closed

[2021-01-30 19:01] kant2002 commented on #1235
@LeHerosInconnu can you remove first item in the original issue description? Also if you can convert issue in the list of actionable work items. For example like below.

- [ ] The position of the icons "Players Icon", "Size Icon", "Victory Condition Icon" and "Loss Condition Icon" is not the same as in the original game.
- [ ] The names of the scenarios in the scenarios list are not centered, the

[2021-01-30 19:19] LeHerosInconnu commented on #1235
Hello @kant2002,

I removed the first item in the list "The position of the buttons for selecting the size of the scenarios is not the same as in the original game." and changed the style of the list.

[2021-01-30 19:30] kant2002 commented on #1235
Thanks. I will take a look what can I do

[2021-01-31 04:31] #2677 closed

[2021-02-01 03:38] ihhub commented on #2158
Hi @LeHerosInconnu , could you please update your findings. Recently we fixed castle's defence tactics. If AI has enough resources it'll buy monsters. Not all of your saves will have this due to lack of gold in AI but for some AI buys monsters to prevent capturing.

[2021-02-01 09:27] undef21 opened #2710 "Infinity turns of AI player after human lose"
1. Load the save;
2. Press "End of turn";
3. Game falls into infinity loop.

[King_of_Death_0004.zip](https://github.com/ihhub/fheroes2/files/5903019/King_of_Death_0004.zip)

[2021-02-01 10:56] #2645 closed

[2021-02-01 10:56] #2710 closed

[2021-02-01 20:10] LeHerosInconnu commented on #2158
Hello @ihhub,

Okay, I have a test going.

[2021-02-02 18:42] LeHerosInconnu commented on #2158
Hello @ihhub,

Some remarks concerning a test with version 0.8.4 2704.
- AI is more aggressive.
- AI heroes have stronger armies.
- AI heroes are better at picking up resources along the way.
- AI heroes are better at recapturing resource generators (mines, etc.).
- AI castles are better defended.
- AI heroes need to be improved at capturing/recapturing resource generators such as Magic Gardens, e

[2021-02-02 19:29] LeHerosInconnu opened #2713 "Castle information window, wrong information displayed according to the number of Thieves' Guilds built"
In fheroes2, wrong information is displayed according to the number of Thieves' Guilds built.

In the original game, it works this way:

- No Thieves' Guild, "Unknown" is displayed.
- 1 Thieves' Guild built, creature sprites are displayed, "???" is displayed.
- 2 Thieves' Guilds and more built, creature sprites are displayed, an expression is displayed for the number of creatures, e.g. "Few".

In

[2021-02-02 19:30] LeHerosInconnu opened #2714 "Castle information window, wrong value display format"
In fheroes2, wrong value display format is displayed.

In the original game, with Thieves' Guilds built, the number of creatures is always displayed as an expression, example "Few".

In original game:

![Thieves guild H2 original 03](https://user-images.githubusercontent.com/43583994/106794107-a2d5ae00-6658-11eb-925a-fa3e74da00c7.png)

In fheroes2:

![Defender troop 1 etc fh2 01](https://user-imag

[2021-02-02 19:39] LeHerosInconnu opened #2715 "Kingdom Overview screen, Towns/Castles screen, it is not possible to reorganize the troops in the hero's army or in the garrison or between the hero's army and the garrison"
In fheroes2, it is not possible to reorganize the troops in the hero's army or in the garrison or between the hero's army and the garrison.

In fheroes2:

![Not possible move troops](https://user-images.githubusercontent.com/43583994/106653161-b91b3580-6596-11eb-87dd-16db1a97a1c3.png)

[2021-02-02 19:48] LeHerosInconnu opened #2716 "Kingdom Overview screen, Towns/Castles screen, part of the frame of the troops selected in the HEROES screen is displayed in the TOWNS/CASTLES screen"
In fheroes2, part of the frame of the troops selected in the HEROES screen is displayed in the TOWNS/CASTLES screen.

In fheroes2:

![More than one troop selected](https://user-images.githubusercontent.com/43583994/106653937-bc62f100-6597-11eb-8104-7878bd43416b.png)

![Part frame troop selected other screen](https://user-images.githubusercontent.com/43583994/106653880-ac4b1180-6597-11eb-8057-235fc

[2021-02-02 20:09] LeHerosInconnu opened #2717 "Adventure map, object info window, the space line between the "title" and the window text is not applied to all windows"
In fheroes2, the space line between the "title" and the window text is not applied to all windows.

In fheroes2:

![Info object space line fh2 01](https://user-images.githubusercontent.com/43583994/106655037-2203ad00-6599-11eb-8a0d-37c338474118.png)

![Info object space line fh2 02](https://user-images.githubusercontent.com/43583994/106655047-262fca80-6599-11eb-8c65-4a942eb7b1ee.png)

![Info objec

[2021-02-02 20:09] LeHerosInconnu opened #2718 "Information with the right click to dig on the adventure map, the information "(digging ok)" and "(no digging)" must be displayed for all the squares of the adventure map and not only for the squares adjacent to the hero"
In fheroes2, the information "(digging ok)" and "(no digging)" must be displayed for all the squares of the adventure map and not only for the squares adjacent to the hero.

In fheroes2:

![Digging ok fh2 01](https://user-images.githubusercontent.com/43583994/106656225-b15d9000-659a-11eb-9f52-03cce635bcfc.png)

![Digging ok fh2 02](https://user-images.githubusercontent.com/43583994/106656236-b589a

[2021-02-02 20:18] vincent-grosbois commented on #2570
Hello
actually this idea is also needed for Thieves Guild, so it's not just for non-OG features

[2021-02-02 20:41] LeHerosInconnu opened #2719 "When the option "world: show terrain penalty" is activated, the movement penalty is not displayed for the square marked as "Coast""
In fheroes2, when the option "world: show terrain penalty" is activated, the movement penalty is not displayed for the squares marked as "Coast".
This "terrain" is an invisible object (it is explained in this thread https://github.com/ihhub/fheroes2/issues/2128) and the displayed penalty should have the same value as the terrain on which it is located.

In fheroes2:

![Penalty coast fh2 01](https:

[2021-02-02 20:57] LeHerosInconnu opened #2720 "Summon Boat spell, boat summoned under the hero's sprite"
In fheroes2, the boat is summoned under the hero's sprite.

In fheroes2:

![Boat summon under hero fh2 01](https://user-images.githubusercontent.com/43583994/106661358-64c98300-65a1-11eb-9fe7-e73e55506f0c.png)

https://user-images.githubusercontent.com/43583994/106661417-77dc5300-65a1-11eb-9d0b-ec98fc4bf98a.mp4

[2021-02-02 21:44] LeHerosInconnu opened #2722 "Combat, the defensive tower is shooting at Goblins while there are War Trolls, Grand Elves and Centaurs"
In fheroes2, the defensive tower is shooting at Goblins while there are War Trolls, Grand Elves and Centaurs.

In fheroes2:

![Tower defense shoot goblins fh2 01](https://user-images.githubusercontent.com/43583994/106665409-8e38dd80-65a6-11eb-97ac-72cc46bab124.png)

![Tower defense shoot goblins fh2 02](https://user-images.githubusercontent.com/43583994/106665427-93962800-65a6-11eb-8e9e-973fb93031

[2021-02-02 21:44] LeHerosInconnu opened #2723 "Combat, Cyclops should hit the Grand Elves when they attack the Phoenixes"
In fheroes2, the Cyclops should hit the Grand Elves when they attack the Phoenixes.

In fheroes2:

https://user-images.githubusercontent.com/43583994/106665989-48304980-65a7-11eb-8292-9511fbf6f611.mp4

End the turn.
Here is the save file:
[Before attack castle cyclops 2.zip](https://github.com/ihhub/fheroes2/files/5914596/Before.attack.castle.cyclops.2.zip)

[2021-02-02 21:45] LeHerosInconnu opened #2724 "Combat, Phoenixes fly in the reverse direction"
In fheroes2, the Phoenixes fly in the reverse direction.

In fheroes2:

https://user-images.githubusercontent.com/43583994/106666334-c12fa100-65a7-11eb-9644-7f1172029a3c.mp4

End the turn.
Here is the save file:
[Before attack castle cyclops 2.zip](https://github.com/ihhub/fheroes2/files/5914596/Before.attack.castle.cyclops.2.zip)

[2021-02-02 21:57] LeHerosInconnu opened #2725 "Experimental Game Settings window, the option "world: new version WeekOf (+ growth)" automatically activates/deactivates the option "world: ban for WeekOf/MonthOf Monsters""
In fheroes2, the option "world: new version WeekOf (+ growth)" automatically activates/deactivates the option "world: ban for WeekOf/MonthOf Monsters"

In fheroes2:

https://user-images.githubusercontent.com/43583994/106667844-c261cd80-65a9-11eb-91f3-79da40a43e39.mp4

[2021-02-03 13:08] #2718 closed

[2021-02-03 13:08] #2719 closed

[2021-02-03 15:27] #309 closed

[2021-02-03 15:29] #192 closed

[2021-02-03 16:18] LeHerosInconnu opened #2727 "Combat, it is very easy to keep the opposing troops at a distance"
In fheroes2, it is very easy to keep the opposing troops at a distance.
Note: This is not possible in the original game.

In fheroes2:

https://user-images.githubusercontent.com/43583994/106774678-a9592b00-6642-11eb-8483-acb5af6d188e.mp4

[2021-02-03 16:38] LeHerosInconnu opened #2729 "Combat, AI does not optimize the placement of its troops against creatures that attack on two hexagons"
In fheroes2, AI does not optimize the placement of its troops against creatures that attack on two hexagons.
In the example, the Skeleton troops move into adjacent hexagons favoring the attack of the Phoenixes the next turn, while there is room for the Skeleton troops to attack without moving into adjacent hexagons.

In fheroes2:

https://user-images.githubusercontent.com/43583994/106778474-4f5a64

[2021-02-03 16:43] idshibanov commented on #2158
Fix is already on the way. AI forgot to buy the book :)

Here AI is just isn't aware of this option and won't go for empty Magic gardens. We can adjust priority later.

[2021-02-03 17:43] LeHerosInconnu opened #2731 "Adventure map, AI's behavior in attacking opposing heroes and defending its castles"
AI is sometimes too confident. :)
The AI recruits a hero and gives him a proper army to attack a human hero who is a bit too adventurous (it's really well thought out at first), but for that it uses all the troops defending its castle.
The hero of the AI is defeated, to the great astonishment of the AI. :D
And the AI castle is completely defenseless the next turn, while there are still many creatu

[2021-02-03 21:20] LeHerosInconnu opened #2733 "Adventure map, "(no digging)" is not displayed when it is not possible to dig into a square of the adventure map, and wrong information displayed"
In fheroes2, "(no digging)" is not displayed when it is not possible to dig into a square of the adventure map.
In the original game, "(no digging)" is displayed when it is not possible to dig into a square.

In the original game, it is not possible to dig on a road or river and other decorative objects.
The squares where these decorations are located are considered as not diggable (by default, un

[2021-02-04 18:06] LeHerosInconnu opened #2735 "Combat, AI should avoid hitting its own troops with its creatures attacking on two hexagons"
In fheroes2, AI should avoid hitting its own troops with its creatures attacking on two hexagons.
In the example, the Cyclops attack the Phoenixes from the nearest hexagon and hit the Grand Elves at the same time (there is a bug in the example video: https://github.com/ihhub/fheroes2/issues/2723), while the Cyclops have enough movement to attack the Phoenixes from the hexagon behind the Phoenixes

[2021-02-05 08:44] Branikolog opened #2736 "Combat screen, window frame disappears after damage info box pops up"
Start battle. Point any creature, so damage info box appears.
![image](https://user-images.githubusercontent.com/55348946/107010484-74b2b400-67a7-11eb-829c-95a45d5ea199.png)

[2021-02-05 09:00] Branikolog commented on #2725
Hi, @LeHerosInconnu
I don't even know, what the option "New version" is doing currently. ;)

[2021-02-05 10:19] Branikolog commented on #2715
It's definitely a bug. Only dragging within one army works here. And still it works as splitting only.

[2021-02-05 10:39] Branikolog commented on #2193
Him @LeHerosInconnu
Recently, @ihhub made a huge improvement for pathfinding during battle.
I think this issue is not actual anymore.
Could you, please, check it once again?

[2021-02-05 10:46] Branikolog opened #2737 "Battle screen, 2hex creature steps moat in a wrong place"
On a screenshots, we're trying to move Cavalry in a lowest hex of a moat.
But it steps in it in the wrong place, which causes cavalry stop it's movement at a improper place.
![image](https://user-images.githubusercontent.com/55348946/107024003-7cc71f80-67b8-11eb-8e98-3ea12cf94059.png)
![image](https://user-images.githubusercontent.com/55348946/107024049-8badd200-67b8-11eb-857c-f1c867e457e3.png)

[2021-02-05 15:26] #2736 closed

[2021-02-05 17:37] LeHerosInconnu commented on #2193
Hello @Branikolog,

This bug seems to have been fixed, but another one has appeared: https://github.com/ihhub/fheroes2/issues/2192.

[2021-02-05 17:50] LeHerosInconnu commented on #2715
This bug is quite recent, it worked fine in version 0.8.4 2644.
And this bug is already present in version 0.8.4 2663.

[2021-02-05 17:53] vincent-grosbois opened #2739 "Question about heroes with custom names"
I'm opening up this ticket to discuss about custom heroes names, as I'm not sure this is implemented
- currently the hero name is hardcoded depending on the hero id
- in PoL awards, you get awarded heroes whose name is different on different scenario, but that are always the same hero id
- I think in map editor it's possible to customise heroes and put a specific name ?

How do you think we should

[2021-02-05 17:56] LeHerosInconnu commented on #2725
@Branikolog.

I haven't tested this option yet either. :)

[2021-02-05 18:37] LeHerosInconnu commented on #2739
Hello @vincent-grosbois,

Yes, in the scenario editor it is possible to customize the names of the heroes.

You are certainly talking about the "Descendants" campaign.
Your question is rather on the technical side, right?

[2021-02-05 18:51] vincent-grosbois commented on #2739
yes :)

[2021-02-05 19:26] LeHerosInconnu commented on #1624
Why not display all this information directly in the information bar with a smaller font size, or display a large information box at a fixed position that covers the entire information bar?

![Heroes 2 Screen 74c cadre flèche](https://user-images.githubusercontent.com/43583994/107079462-2fff3b00-67f0-11eb-9cb8-58f7de12cb31.png)

Related issues: https://github.com/ihhub/fheroes2/issues/1619, https:

[2021-02-05 20:30] LeHerosInconnu commented on #1744
What do you think of this?

![Recruit Dragon avec cadre jaune et bouton](https://user-images.githubusercontent.com/43583994/107085526-e8c97800-67f8-11eb-9ead-a91f14d5118f.png) ![Recruit Dragon avec coins cadre jaune et bouton](https://user-images.githubusercontent.com/43583994/107085530-ea933b80-67f8-11eb-9949-bc70d3e9770b.png)

The user can click on the arrow button (only one button is required)

[2021-02-06 07:38] Branikolog commented on #2192
@LeHerosInconnu
Dev team knows this issue.
I hope, they can fix it as soon as possible.;)

[2021-02-06 07:42] Branikolog commented on #1624
@LeHerosInconnu
Good idea.
I'd like to have such enhancement, after  1.0 will be released.

[2021-02-06 08:41] Branikolog commented on #1744
Cannot tell you, that I don't like an idea of placing a sprite into a frame... (but actually, I think the type you've proposed doesn't suit the overall interface design) :)
But the frame doesn't solve the problem we're discussing here... Unless, we can draw it in a special way, player would definitely note, that it's clickable and it would suit overall game design. But I think for such task we nee

[2021-02-06 12:11] Branikolog opened #2743 "Castle screen, Hero can learn spells from non-opened scrolls in mage guild"
Hero managed to learn "magic arrow" spell, while there's none in town's mage guild.
![image](https://user-images.githubusercontent.com/55348946/107117711-460f0900-688d-11eb-9340-cacba99c34c8.png)
Also, if we make a right click over a closed scroll in 1st row of magic guild we can know, what the spell it is.
![image](https://user-images.githubusercontent.com/55348946/107117753-7fe00f80-688d-11eb-90

[2021-02-06 16:21] vincent-grosbois commented on #2743
Are you sure that Magic Arrow is not a spell that was granted for free when you buy the hero ? I think this exists

[2021-02-06 17:05] Branikolog commented on #2743
@vincent-grosbois
Absolutely! :)
Wizard heroes start with stone skill spell in their books.
Once I've built the guild, I was disappointed, that I haven't received attacking spell.
But I was quite surprised, when I opened spell book and found there new spell.
Also, clicking on the right  closed scroll and watching the info window pop up there is not normal.

[2021-02-06 18:12] LeHerosInconnu commented on #1744
Hello @Branikolog,

I think this one could be the right one. :)

![Recruit Dragon change button left side modifié 01](https://user-images.githubusercontent.com/43583994/107126216-bf6b2380-68ae-11eb-98e6-5cd28f9e825a.png)

[2021-02-06 18:50] Branikolog commented on #1744
Hi, @LeHerosInconnu !
I think we need to make a separate discussion for this issue. ) I think we'd spend lots of time choosing the best solution. :)
On subject:
Well, this location for "Change" button is better from the rest, but in this case "Available 0" is definitely not on a proper place.
Also, I wish to have not such "large" solution of this problem. ) something less noticeable. I mean, this

[2021-02-06 20:03] LeHerosInconnu opened #2747 "Combat, AI should move its ranged troops if those troops are in melee with opposing troops instead of passing their turn without taking action"
In fheroes2, AI should move its ranged troops if those troops are in melee with opposing troops instead of passing their turn without taking action.

In the example, Grand Elves and War Trolls pass their turn without attacking.
This is a good thing at first because by attacking the Phoenixes in close combat these troops would suffer damage (at least one of the two troops).

In fheroes2:

https://u

[2021-02-06 20:17] vanfanel opened #2748 "Building release 0.9 fails (undefined reference to `IMG_SavePNG')"
Hi there!

I was able to build all previous versions, but for 0.9, I get this on GNU/Linux (aarch64, but it's not a CPU-arch related problem):
[code]

Of course I can go and comment the problematic line, but... am I missing something here?

Note I build with:

`WITHOUT_AUDIOCD=1 WITH_SDL2=1 WITHOUT_IMAGE=1 WITHOUT_XML=1 make -j4
`

I believe it could be some #ifdef related to WITHOUT_IMAGE that is

[2021-02-06 20:24] vanfanel opened #2749 "Mouse cursor movement with 0.9 is badly broken"
Hi there,

Just built 0.9 and noticed cursor movement is just erratic and "floaty", it does NOT match the movement of the mouse at all.
I have tried with FULLSCREEN mode, and it's the same.

0.8 was working fine. What has changed so dramatically?

[2021-02-06 20:40] vanfanel commented on #2749
EDIT: There's also the problem that the cursor position is NOT registered correctly on the main menu. For example, to click any of the signs, I have to move the cursor WAY far from it :(

[2021-02-06 21:02] LeHerosInconnu opened #2750 "Combat, AI does not optimize the placement of its troops to reach other opposing troops"
In fheroes2, AI does not optimize the placement of its troops to reach other opposing troops.

First example, without taking into account the bad positioning of the troops in front of a troop attacking on two hexagons, the troops of Skeletons seem to position in order to reach the troop of Greater Druids more quickly (except for the placement of the last troop of Skeletons).
![AI reach troop place

[2021-02-06 21:05] vanfanel commented on #2749
Oops, it was my USB pad doing something funny with the mouse... closing this, sorry!

[2021-02-06 22:47] LeHerosInconnu opened #2751 "Combat, AI does not always make the best tactical choice in the priority of troops to attack"
In fheroes2, AI does not always make the best tactical choice in the priority of troops to attack

In the example, the IA chooses to focus the attack of all his troops on the Dwarves.

![vlcsnap-2021-02-06-22h37m45s866](https://user-images.githubusercontent.com/43583994/107131160-66ae8180-68d4-11eb-9b67-830c16cef198.png)

![vlcsnap-2021-02-06-22h38m34s145](https://user-images.githubusercontent.com

[2021-02-06 23:05] aslak01 opened #2752 "MacOS ARM support"
Hey,

Love H2 and very happy to see this project revived. Just wondering if I'll be able to test it on my M1 Mac any time soon? I can't see it mentioned anywhere, so I tried both the binary and compiling from source, but neither ran. Testing on my old intel based Mac, it worked perfectly, so I assume it's unsupported. I'd be happy to test out some betas or whatever.

[2021-02-06 23:31] LeHerosInconnu opened #2753 "Combat, AI does not choose a good location to position his troop in the moat before entering the castle"
In fheroes2, the AI does not choose a good location to position his troop in the moat before entering the castle.

In the example, the Ogre Lords move into the moat at a location, in front of a tower, which does not allow them to enter the castle directly, even though they have enough movement to position in front of a destroyed wall.

![vlcsnap-2021-02-07-00h12m22s737](https://user-images.githubu

[2021-02-06 23:57] LeHerosInconnu opened #2754 "Combat, AI doesn't move his troop of Cyclopes when they could move closer to the moat"
In fheroes2, the AI doesn't move his troop of Cyclopes when they could move closer to the moat.

In the example, the Cyclopes do not move from their starting position for the entire time they are in the combat.
They could move closer to the moat (without necessarily entering it, depending on the case), especially since in this example the army's Morale is good, and they could possibly attack with

[2021-02-07 01:10] LeHerosInconnu commented on #1744
@Branikolog.

Okay, I opened a discussion here: https://github.com/ihhub/fheroes2/discussions/2755.

[2021-02-07 01:28] ihhub commented on #2752
Hi @aslak01 , could you please give more details? Which OS version do you use? What kind of error/problem do you encounter? Did you try both SDL1 and SDL2?

[2021-02-07 01:58] ihhub commented on #2748
Hi @vanfanel , doesn't your OS support SDL_image package? If yes, please install it. We're dropping all these weird macro switches in order to have a unified solution.

[2021-02-07 02:03] ihhub commented on #2748
Also `WITH_SDL2` is not longer needed. SDL2 is compiled by default.

[2021-02-07 06:58] idshibanov commented on #2747
We have a logical branch for this in AI's decision tree. Unit knows that attacking back in this case isn't ideal but "kiting" code for moving away isn't implemented yet. Let's hope we can finish it by the 0.9.1 release.

I appreciate the examples and suggestions, will come back to this ticket later.

[2021-02-07 07:01] idshibanov commented on #2754
Can you share a savegame before this battle start? I would like to check debug logs to see what Cyclops are thinking.

[2021-02-07 08:10] aslak01 commented on #2752
Of course. I'm on 11.2 and I've only tried with SDL2.

With the precompiled version I got the error ``dyld: Library not loaded: /usr/local/opt/sdl2/lib/libSDL2-2.0.0.dylib``. In fact there isn't a /usr/local/opt/ on my system, even tho I installed the SDL2 packages with homebrew.

Compiling it locally I don't really get an error, it just doesn't launch. Terminal output is the following:
[code]

[2021-02-07 11:12] vanfanel commented on #2748
@ihhub Thanks for your answer, but I have SDL image installed on my system:

[code]

I built SDL_Image from sources, with PNG support:
[code]

[2021-02-07 11:26] ihhub commented on #2748
@vanfanel , I'll add then a macro for this, something like FHEROES2_PNG_SUPPORT to do not mess with any other environment variables and to show that it's for this project. By default it'll be not enabled as it should be. Anything what is WHITHOUT is actually anti-logical as developers tend to add features, rather than removing them.

[2021-02-07 11:40] vanfanel commented on #2748
@ihhub But I don't quite understand. What's the problem? SDL Image with PNG support is present on my system. Why is it failing? It also fails to build with the same problem on my Ubuntu 20.04 system.

[2021-02-07 14:36] ihhub commented on #2409
Hi @LeHerosInconnu , could you please specify your OS and retest this issue? I tested on Win10 and it works fine while switching between these 2 resolutions.

[2021-02-07 15:53] ihhub commented on #2752
Hi @aslak01 , as far as we know SDL 1 doesn't work on newest MacOS versions. You could try your luck but most likely it won't help.
I also heard that newest MacOS version has issues for running applications which are not authorized on the system. However, it might be not the case. Could you please post here commands how you compile and run the application? Also did you run the script to download t

[2021-02-07 15:57] ihhub commented on #2748
Hi @vanfanel , the problem is in `src/makefile`:
[code]
As you can see the linker will skip SDL2_image inclusion if `WITHOUT_IMAGE` is defined. Please try without this flag.

[2021-02-07 18:07] LeHerosInconnu commented on #2754
Hello @idshibanov,

Sure.

End the turn.
Reproduce the first combat.
Here is the save file (Broken_Alliance_0033aaa.sav):
[AI's behavior defending castles.zip](https://github.com/ihhub/fheroes2/files/5920403/AI.s.behavior.defending.castles.zip)

[2021-02-07 18:12] kant2002 commented on #1241
@LeHerosInconnu and @ihhub  seems to be this issue can be closed. Am I miss something?

[2021-02-07 18:43] kant2002 commented on #1250
@ihhub and @LeHerosInconnu is this fixed?

[2021-02-07 19:00] LeHerosInconnu commented on #2409
Hello @ihhub,

My OS: Windows 7 64 bits Edition Familiale Premium Service Pack 1.

I made some tests and I couldn't reproduce the bug.
However, I sometimes see the Windows desktop, with the application windows open, when the program performs the resolution change.
A bit like if the program was doing an "alt-tab" when changing the resolution and then returned to fheroes2.

I tried to capture a vide

[2021-02-07 19:22] LeHerosInconnu commented on #1241
Hello @kant2002,

Yes, everything is correct (or modified according to the new fheroes2 rules) except the vertical position of the text in the info window that is not the same as in the original game, but this will be adjusted generally for all windows in another issue: https://github.com/ihhub/fheroes2/issues/1260.

[2021-02-07 19:22] #1241 closed

[2021-02-07 19:40] LeHerosInconnu commented on #1250
@kant2002.

No, all remarks are still valid.

[2021-02-07 21:30] DragonSerW opened #2767 "Could Dews add support of gog's .exe's jh HoMMii?"
There are 2 exe's of the game awailable to download nowadays:
setup_heroes_of_might_and_magic_2_gold_1.01_(2.1)_(33438).exe
setup_homm2_gold_win_2.0.0.7.exe

I wish I could put one oh them to the folder of The Script, and the script should uncompress them on his own -- is it possible?
How coul I decompress gog's exe @ macOS / Fedora?

[2021-02-07 22:12] aslak01 commented on #2752
Yeah: I followed the steps in the relevant scripts manually, installing packages with brew and copying MAPS and DATA folders from the demo to the fheroes folder. Then I followed https://ihhub.github.io/fheroes2/ and used commands ``export WITH_SDL2="ON"`` followed by ``make`` to compile.

On the M1 Mac these steps resulted in what I posted above, however on my intel Mac (also on Big Sur) it then r

[2021-02-07 23:29] vanfanel commented on #2748
@ihhub Ahhh! I understand.
The problem appears beacause of disabling SDL_Image. So it's fixable and SDL_Image support can be disabled without problems, right? The less dependencies, the better. Just my opinion anyway :)

[2021-02-08 05:54] undef21 commented on #2767
Gog's installers  could be extracted with innoextract. This program is available from fedora and brew (macos) repositories. While gog update game archives with new versions of inno installer, some stable distributions (debian, ubuntu  lts) may contain outdated versions.

[2021-02-09 12:58] Branikolog opened #2769 "Game crashes while entering allied castle"
Set all available unions features in config menu.
![image](https://user-images.githubusercontent.com/55348946/107366655-73f38800-6aef-11eb-9a4e-59a00ccab944.png)
Load any map with allies.
For example
[Betrayal.zip](https://github.com/ihhub/fheroes2/files/5951470/Betrayal.zip)
Enter allied castle and application closes.

[2021-02-09 14:23] #1520 closed

[2021-02-09 14:23] #1276 closed

[2021-02-09 15:09] #2769 closed

[2021-02-10 15:41] ihhub commented on #2767
Hi @DragonSerW , this is out of scope of this project. The original game is developed only for Windows. You could try the above solution by @undef21 or through Wine. Alternatively, you could still download the demo version of the game which will interpret by our engine as a full game.

[2021-02-11 04:01] #1730 closed

[2021-02-11 09:20] vasilenkoalexey commented on #2720
Duplicate #2179

[2021-02-11 09:44] vasilenkoalexey commented on #2621
Looks like i have implemented this in [2641](https://github.com/ihhub/fheroes2/pull/2641). Could you check?

[2021-02-11 11:26] ihhub commented on #2752
@aslak01 , I think this is something to do this newest OS and its software. The only way to verify it is to debug it. We do not have a list of unsupported platforms. Theoretically, it would run properly everywhere where SDL is supported.

[2021-02-11 15:56] Artifter opened #2778 "Cursor Problem"

[2021-02-11 15:57] #2778 closed

[2021-02-11 16:59] #1819 closed

[2021-02-11 17:40] #2691 closed

[2021-02-11 17:44] #824 closed

[2021-02-11 17:56] #2668 closed

[2021-02-11 19:22] kant2002 opened #2780 "Mac build broken"
Run build on clean Mac

[code]

[2021-02-11 21:17] LeHerosInconnu opened #2782 "Combat, Phoenixes troop should not move from its current position to attack the targeted troops"
In this presented case, the Phoenixes troop should not move from its current position to attack the targeted troops.
The Phoenixes troop should turn around without moving to attack.
Therefore, the attack animation is not correct.

In fheroes2:

![vlcsnap-2021-02-11-21h56m35s692](https://user-images.githubusercontent.com/43583994/107699374-4e64ab00-6cb6-11eb-98ba-da321c521680.png)

![vlcsnap-2021-0

[2021-02-11 21:47] LeHerosInconnu opened #2784 "Combat screen, logs list, indicate "Ballista" instead of "Turret" when referring to the Ballista"
In the logs list, use the word "Ballista" instead of the word "Turret" when referring to the Ballista.

In the example, replace the word "Tower" by "Ballista":

"Ballista does 37 damage, 3 Archers perish."

Instead of:

"Tower does 37 damage, 3 Archers perish."

In fheroes2:

![Ballista fh2 03](https://user-images.githubusercontent.com/43583994/107702698-e95f8400-6cba-11eb-938e-11235633e399.png)

[2021-02-12 06:10] #2382 closed

[2021-02-12 07:17] #2780 closed

[2021-02-12 20:14] LeHerosInconnu opened #2797 "Combat screen, logs list, wrong way to indicate spell damage"
In the original game, damage is indicated according to the hero's Spell Power.
This is not the case in fheroes2.

Example in the original game:
The Armageddon spell does 50 damage by Spell Power.
The hero has 16 Spell Power.
What is indicated is the damage caused according to the hero's Spell Power:
"The armageddon does 800 damage."

![Damage display H2 01](https://user-images.githubusercontent.co

[2021-02-13 06:26] Branikolog commented on #2797
I agree, that this is not the same implementation, comparing to original game.
But in fheroes2 we can add spell damage in spell book info, so player understands, how much damage each troop would take.
I believe, the total damage is more useful information, as player would know, if a spell was effective .

[2021-02-13 13:48] #1055 closed

[2021-02-13 17:54] LeHerosInconnu commented on #2797
@Branikolog.

I suggested your proposal in this thread:

_Originally posted by @LeHerosInconnu in https://github.com/ihhub/fheroes2/pull/2730#discussion_r575693185_

[2021-02-13 19:43] Branikolog commented on #2797
@LeHerosInconnu
I'm really sorry for being too opinionated.  Your issue above is absolutely right and relevant. I think we should make the original machanics for start and only then discuss some improvements.
Also I have a question for you regarding the issue above.
You were talking about mass spells. But what about area spells (ex. Ice Ring). Are they working the same currently and require fix fo

[2021-02-13 20:59] LeHerosInconnu commented on #2797
@Branikolog.

No worries. :)

I will check this later, and I will precise it if necessary.

[2021-02-14 04:08] idshibanov commented on #2158
Most of the things under this issue should be fixed after recent PRs. I think we could close this one after a round of testing.

[2021-02-14 07:08] ihhub commented on #2528
Hi @J013k , would you be able to help us to fix the issue with these cutscenes? I can compile a special build for you with a potential fix. If it works then we can incorporate it into our code base.

[2021-02-14 07:28] J013k commented on #2528
Of course I can.

[2021-02-14 09:09] ihhub commented on #2528
Hi @J013k ,

Here is the version of SDL2 x64 release. Please put it in the directory of your fheroes2. Just run the same videos to see if there is any improvement.
[fheroes2_video.zip](https://github.com/ihhub/fheroes2/files/5977296/fheroes2_video.zip)

[2021-02-14 09:50] J013k commented on #2528
I'm getting this error when I want to start new campaign:
![https://i.postimg.cc/4NzKhdL1/error.png](https://i.postimg.cc/4NzKhdL1/error.png)

Intro FMV plays fine though.

[2021-02-14 09:52] ihhub commented on #2528
Ah, okay. I've fixed. Please try this one:
[fheroes2_video2.zip](https://github.com/ihhub/fheroes2/files/5977380/fheroes2_video2.zip)

[2021-02-14 10:10] J013k commented on #2528
By the Gods, you are faster than a cheetah.

Unfortunately it still crashes at line 504:
![https://i.postimg.cc/rws7ddgd/error2.png](https://i.postimg.cc/rws7ddgd/error2.png)

[2021-02-14 10:37] ihhub commented on #2528
One more time:
[fheroes2_video3.zip](https://github.com/ihhub/fheroes2/files/5977520/fheroes2_video3.zip)

[2021-02-14 11:00] J013k commented on #2528
No more crashes, but I have a strange aspect ratio in FMV after starting new campaign:
![https://i.postimg.cc/xCrbQ61K/streched.png](https://i.postimg.cc/xCrbQ61K/streched.png)

I still have a corrupted FMV:
![https://i.postimg.cc/Nj5yr3y6/stre2.png](https://i.postimg.cc/Nj5yr3y6/stre2.png)

Here is how it looks like when I choose the main charakter:
![https://i.postimg.cc/tCmJyBrY/streched3.png](

[2021-02-14 11:08] ihhub commented on #2528
Ah, okay. I'll fix it.

[2021-02-15 12:12] ihhub commented on #2528
Hi @J013k , could you please try this?

[fheroes2_video4.zip](https://github.com/ihhub/fheroes2/files/5981450/fheroes2_video4.zip)

[2021-02-15 23:07] aslak01 commented on #2752
I'm running it just fine on the newest OS with Intel architecture tho.

[2021-02-16 00:12] ihhub commented on #2752
Hi @aslak01 , looks like compiling locally is the only option on your machine since it's ARM architecture. I just don't know why the compiled version fails. Maybe there's some compilation issue. Could you please run:
make clean
make

And post whole log here?

[2021-02-16 00:22] aslak01 commented on #2752
[code]

[2021-02-16 00:42] ihhub commented on #2752
Everything looks fine. Maybe the problem is in Homebrew packages like stated [here](https://github.com/Homebrew/discussions/discussions/149). Without debugging it's hard to say what's wrong. Are you able to debug the application?

[2021-02-16 07:43] #2559 closed

[2021-02-16 08:08] aslak01 commented on #2752
I haven't had any problems with Homebrew, I think those issues were resolved shortly before I got this computer. Maybe there's an issue with those packages, but there haven't been with any others.

<img width="688" alt="Screenshot 2021-02-16 at 09 05 20" src="https://user-images.githubusercontent.com/25505610/108034856-6fbaf380-7036-11eb-9bf9-7716aafcaf60.png">

I'm not sure how to debug. If you t

[2021-02-16 11:50] LeHerosInconnu opened #2808 "Improvement to the information windows and the information bar at the bottom of the screen for more or less positive Morale (Awful, Treason, etc.) and for Luck"
In the original game, when the morale is equal to or higher than "Good" the information window and the information bar at the bottom of the screen indicates "Good Morale".
However, in the creature information window, the term used for troop morale is different and more related to the morale level, "Great" is then displayed.
It is the same for lower morale, and also for luck levels.
In fheroes2, it

[2021-02-16 11:51] J013k commented on #2528
@ihhub thanks for your next test build.

Here is how a video looks like in org:
![https://i.postimg.cc/DywF5kT5/org.png](https://i.postimg.cc/DywF5kT5/org.png)

Here is how with "video4":
![https://i.postimg.cc/xCPDygpW/video4.png](https://i.postimg.cc/xCPDygpW/video4.png)

So the image is stretched.

I still have some graphical glitches in FMV, especially after changing a "scenario":
![https://i.

[2021-02-16 12:17] LeHerosInconnu opened #2809 "All scrollbars and buttons in game, add the ability to left-click and hold to continuously scroll the scrollbar or increase/decrease the quantity value"
In fheroes2, it would be nice to add the ability to left-click and hold to continuously scroll the scrollbar or increase/decrease the number of creatures in addition to operating multiple clicks in a row.
This for all scrollbars and buttons in game.
"File to Load:" window, Adventure map screen, Kingdom Overview screens, Castle screen, "Experimental Game Settings" window, etc.

In fheroes2:

![Mous

[2021-02-16 13:20] LeHerosInconnu opened #2810 "Mouse cursor, small arrow cursor with a yellow border has no shadow"
In the original game, for the adventure map and screens, the small arrow cursor with a yellow border has a shadow.
This is not the case in fheroes2.

In original game:
![Cursor type and shadow 001](https://user-images.githubusercontent.com/43583994/107424269-c0ee5300-6b1d-11eb-86b6-1cc88b8dd2d0.png)
![Cursor type and shadow 002](https://user-images.githubusercontent.com/43583994/107424287-c481da00

[2021-02-16 14:33] ihhub commented on #2528
Hi @J013k , yes the image is stretched as it should be. This is how it looks like with the normal videos:
![image](https://user-images.githubusercontent.com/19829520/108076824-d0821480-70a6-11eb-8e48-74f62dad791f.png)
![image](https://user-images.githubusercontent.com/19829520/108076837-d4ae3200-70a6-11eb-95f3-8622f2242d13.png)
The original size of your video is **640 by 240**. This format is used

[2021-02-16 14:35] ihhub commented on #2528
@J013k . I closed this issue. Please compile or downlaod (in an hour) the newest version of fheroes2 and check on your side. I think the only thing is left is different colors on video. If this is the case please create another issue and we'll try to fix it later :)

[2021-02-16 18:27] ihhub commented on #2809
Hi @eos428 , could you please take a look? I think it's similar to what you've done with split window.

[2021-02-16 18:43] J013k commented on #2528
@ihhub once again thanks for your work.

As for the issue...
The main problem is that I still have these graphical corruptions in FMV:
![https://i.postimg.cc/jSTY3P9y/1.png](https://i.postimg.cc/jSTY3P9y/1.png)
![https://i.postimg.cc/9Mr6wpRH/2.png](https://i.postimg.cc/9Mr6wpRH/2.png)
![https://i.postimg.cc/tC0K7F98/3.png](https://i.postimg.cc/tC0K7F98/3.png)

After one maybe two seconds they are

[2021-02-17 00:52] ihhub commented on #2528
I reopebed the issue.

[2021-02-17 03:31] tremby opened #2814 "Mouse pointer slowness or smoothing?"
It seems like the mouse cursor is less responsive than I'm used to on my desktop. I wondered if there's some kind of smoothing happening which I could disable, but I think it's probably something else since it seems to get worse and better over time.

I'm playing under Linux; the latest build for SDL1.

[2021-02-17 03:34] tremby opened #2815 "Pixel scaling/zoom without fullscreen"
I have a high resolution screen and would like to play with a bigger window but without everything being invisibly tiny. I'd like to be able to scale up the window and have the game pixels scale.

I found that fullscreen mode does this, but that switches off my second display and I also don't want to be full screen at all.

I suppose as a stretch goal it'd be nice to support [pixel upscaling algor

[2021-02-17 04:07] #1973 closed

[2021-02-17 04:54] ihhub commented on #2814
Hi @tremby , please use SDL2 version. SDL1 version has internal software mouse rendering.

[2021-02-17 11:25] Branikolog opened #2816 "Castle screen, animation of emerging boat always goes simultaneously with new building appeared"
When a city has boat in its shipyard and new building was chosen to be built, it will appear together with boat, as if it was created too...
![image](https://user-images.githubusercontent.com/55348946/108197717-d0782800-712b-11eb-8d52-ec22623ddb44.png)
![image](https://user-images.githubusercontent.com/55348946/108197758-dcfc8080-712b-11eb-9fdf-b6b64757aa04.png)
![image](https://user-images.github

[2021-02-17 19:01] Branikolog opened #2817 "Adventure map, the chance of joining neutral creatures"
Wandering mummies are willing to join my not really strong army.
![image](https://user-images.githubusercontent.com/55348946/108254466-19e86780-716c-11eb-83f4-3e33b10d728c.png)
![image](https://user-images.githubusercontent.com/55348946/108253819-418b0000-716b-11eb-9827-168b6c8ff52d.png)
[Join army.zip](https://github.com/ihhub/fheroes2/files/5997965/Join.army.zip)

[2021-02-17 19:57] LeHerosInconnu commented on #2817
Hello @Branikolog,

Some wandering troops are willing to join a hero no matter what.
(A certain percentage of all wandering troops on the adventure map is marked as "always join the hero").

Neither the strength of the hero's army nor any other criteria is taken into account.

These wandering troops want to travel and see the country (they want to be really wandering) and finally leave this place

[2021-02-17 23:30] 0UserName commented on #761
The problem of moving can be solved by editing in the `ArtifactsBar::ActionBarLeftMouseSingleClick` method. The [Artifact](https://github.com/ihhub/fheroes2/blob/master/src/fheroes2/resource/artifact.h#L36) class does not have any attributes to help determine if an element is selectable. That is, we can either add this attribute and check it, or go the other way and write something like this:

[co

[2021-02-18 02:12] tremby commented on #2814
Makes sense.

I've got some dependency hell there which I'm not prepared to bother dealing with, so I'm stuck at least for now with SDL1.

[2021-02-18 03:44] ihhub commented on #2814
Nothing we can do in this case as it's a limitation of SDL 1.

[2021-02-18 03:46] #2814 closed

[2021-02-18 06:20] Branikolog commented on #2817
@LeHerosInconnu

Even if hero has no army? O_o

[2021-02-18 19:42] LeHerosInconnu commented on #2817
@Branikolog.

I tried to reproduce my remark in Heroes 2 and I didn't succeed.
Certainly that should not be the case, and it was a dream. :D

There is certainly a condition of strength of the hero's army that must be taken into account.

Sorry for my erroneous information. :)

[2021-02-18 19:49] Branikolog commented on #2817
No problem.)
One question was asked at one of our social pages...
Can monsters, that appear during "week of" join hero? On what conditions? Does Diplomacy skill required, or they could join hero army for free?

[2021-02-18 20:05] LeHerosInconnu commented on #2817
Hello @Branikolog,

Yes, they can join the hero.
Not sure if they can join for free, :) (I think so) but with diplomacy, a powerful army and a strong economy, it is possible to recruit them.
But beware, it's a choice to be made if the map is poor in gold, because it can become expensive quickly and it won't necessarily be very powerful troops compared to the troops that could be recruited in a cas

[2021-02-19 12:10] Branikolog opened #2822 "Minimized application shouldn't play sounds"
As @LeHerosInconnu noticed in discussion #2610, the application should mute all sounds, while minimized.
SDL2 related problem, as on SDL1 build all sound are muted when we minimize window or ALT+TAB application from a fullscreen mode.

Edit:
SDL1 build on minimizing continues playing MIDI music. Only sounds are muted.

[2021-02-19 12:22] Branikolog opened #2823 "Splitting troops, highlighting of selected stack doesn't work within single army"
When we're trying to split stack of creatures within single army the highlighting cancels on dialog appearing:
![image](https://user-images.githubusercontent.com/55348946/108503668-d6097580-72c5-11eb-9805-abeda9946970.png)
![image](https://user-images.githubusercontent.com/55348946/108503688-dbff5680-72c5-11eb-9f9b-00adbe10e488.png)
But when we do separation between hero and garrison (or between h

[2021-02-19 12:33] Branikolog opened #2824 "Splitting troops, Shift button operation for fast splitting"
To finish the fast split keyboard combinations (after "ALT" and "Ctrl" was implemented by our dear contributors) we should add "Shift" button common usability, which players are so used to.
When we hold "Shift" button and press any creature stack it should be divided into two equal. In a case we have any free slot within target garrison.
![image](https://user-images.githubusercontent.com/55348946/